[2016-09-23 01:55] rcquan opened #17 "Unable to render knowledge post due to JSON parse syntax error"
I'm following the docs line-by-line and when attempting to preview a knowledge post using the following command:

[code]

I get the following error:

![image](https://cloud.githubusercontent.com/assets/6497572/18771489/27ac029a-80f4-11e6-975a-2a88c32e2bdc.png)

Which is being raised by the following call to `JSON.parse` in the base.html template on [line 138](https://github.com/airbnb/knowledge-re

[2016-09-23 17:37] #17 closed, assigned to nobody

[2016-09-24 06:25] rcquan opened #25 "500 errors when accessing knowledge repo through gunicorn deploy"
I am able to successfully use the `runserver` command to start a development server and view the knowledge repo app through my web browser.

However, when I use the `deploy` command and kick off gunicorn workers successfully, I am unable to load any pages of the knowledge repo in my web browser and instead receive a 500 response.

![image](https://cloud.githubusercontent.com/assets/6497572/1880653

[2016-09-27 14:44] dsimmie opened #31 "PyPDF2 not included in pip dependencies"
`PyPDF2` is not included in the pip dependencies so the following quick start line fails (if you don't have this library installed):

`knowledge_repo --repo ./example_repo preview project/example`

[2016-09-27 16:15] matthewwardrop commented on #31
Thanks @dsimmie for looking into this. `PyPDF2` is supposed to be a soft dependency for those wanting to use PDF import support; but there was one lingering hard reference.

This is fixed in https://github.com/airbnb/knowledge-repo/pull/32.

Thanks again!

[2016-09-27 16:16] #31 closed

[2016-09-27 17:13] matthewwardrop commented on #25
An update on this: depending on whether you were using multiple repositories via the MetaKnowledgeRepository multiplexer, there were some issues regarding gunicorn deployment that have been fixed in #33 . Can you confirm that you are still having issues @rcquan ?

[2016-09-28 07:06] rcquan commented on #25
I tried the latest code and ran:
[code]
but am still having the same issues. I am running a single repository.

The `--debug` flag only gives me a traceback when I run the knowledge repo on a local development server (which works perfectly by the way). When deploying with gunicorn, the Flask logs are not visible in stdout or the browser. They have to be redirected to stderr in order to be picked u

[2016-09-28 07:21] matthewwardrop commented on #25
Hmmm... thanks for following up on this.

The way we currently launch the Gunicorn server leaves a lot to be desired (we create a temporary file, and then run that as a subprocess). We will be tidying this code up in the next couple of days, so I'll wait for a deep dive into this issue until then (especially since I cannot reproduce the bug locally).

It would help at this venture to know your sys

[2016-09-28 07:39] #25 closed

[2016-09-28 07:45] matthewwardrop commented on #25
@rcquan Oh... wait! This is exactly what should have happened regarding the embedded tooling. The idea is that the embedded tools are frozen at a particular revision, so that all users sharing the repository are using a tested sanctioned version. It also allows you to update the version of the tools used by everyone using your repository without them having to `pip install knowledge-repo` again. Y

[2016-09-28 09:23] rcquan commented on #25
@matthewwardrop Ah, that makes sense! I hadn't realized that the technical details section of the doc also contained information on how to update the knowledge-repo version for the repository. I imagine this will be particularly important point to highlight as y'all bump new versions in the beta ;)

[2016-09-29 00:17] connorshea opened #41 "Support for GitLab as the basis for a Knowledge Repo?"
I may be mistaken, but does Knowledge Repo have support for GitHub repos specifically or can you use it with any Git repo?

If the former, it'd be awesome to have support for Git repos agnostic of their origin. If the latter, the README should be clarified.

[2016-09-29 20:12] matthewwardrop commented on #41
Greetings @connorshea!

The knowledge_repo supports any git repository; so it doesn't need to be tied to GitHub or GitLab. Feel free to use whatever git remote system makes sense to you!

I'll see that the README.md file gets updated :).

[2016-09-29 20:20] connorshea commented on #41
Thanks! And thank you for open sourcing this, I've been interested in it since the original Engineering post about it :)

[2016-09-29 22:14] matthewwardrop commented on #41
No worries. Thanks for your interest. One of my colleagues just updated the documentation, so this should be good now :).

Do let us know if you discover any other issues :).

[2016-09-29 22:14] #41 closed

[2016-09-30 18:05] jbwhit opened #45 "Expose source files for download and/or linking in the web ui"
I was wondering if you had a system for sharing academic papers within the knowledge repo or do you use some different internal system?

I'm thinking specifically if a notebook has references, and having a smooth way to link to them that gives not only the journal article itself, but perhaps a summary/relevant parts writeup somewhere else.

[2016-09-30 18:13] NiharikaRay commented on #45
Internally, that hasn't been a use case for the knowledge repo, but there have been a few people who have manually created knowledge posts which are just lists with links to the academic papers as well as a short summary of what the academic paper is about.

The linking is relatively straightforward - markdown supports links regardless - but being able to link to specific relevant parts is a littl

[2016-09-30 18:38] matthewwardrop commented on #45
@jbwhit Hello Jonathan! Long time no see. Hope things are well!

As @NiharikaRay said, we support Markdown links (along with pretty much all of the Markdown spec)... which sounds like the most basic implementation of what you might want. But I wanted to let you know of two other features which may be interesting to you.

1) You can attach multiple source files. If it makes sense in your institutio

[2016-09-30 18:57] jbwhit commented on #45
Been too long @matthewwardrop!

I don't have a clear idea of what I want, but I have a clear idea of what I think the problem is. A small team working on a consulting project (say), and they do research into visualization techniques on heart monitoring in medical literature. Between the 3-5 people they build up 20-30 papers within a week... each person storing the pdfs in their preferred format TI

[2016-09-30 19:09] matthewwardrop commented on #45
Seems like there's two issues here then:
1) Add support for linking to added src files. We currently support adding source files to the KnowledgeRepository backends; but there's no way to access them from the web ui. We need to fix that.
2) Add a way to "export" a knowledge post to a local file which can be shared with external parties, without giving them the entire repository; along with any lin

[2016-09-30 20:08] jbwhit commented on #45
Interesting, you took it in a different direction than I was expecting...

So the first one, yes definitely, would be very helpful.

The second one, I'll have to think about it. I wasn't imagining a budding off from the main knowledge repo, I was imagining running a dedicated client knowledge repo that would have all relevant notebooks/analysis/references for the client as one web-interface. It wo

[2016-09-30 20:25] matthewwardrop commented on #45
Excellent. I'll change the name of this issue to reflect this first feature addition.

If the latter idea is useful, feel free to open up a second issue :).

[2016-10-03 05:05] matthewwardrop opened #46 "[Windows] Allow specification of R executable"
Windows users often don't have R on their path, so having some way to set it by an environment variable (for example) would probably help quite a bit in terms of usability on this platform.

[2016-10-05 21:52] qthurier opened #47 "Error when adding an Rmd post"
I got that error when I try to add the Rmd template:

**UnicodeDecodeError: 'utf-8' codec can't decode byte 0x89 in position 0: invalid start byte**

Works fine with the ipynb and md templates.

[2016-10-06 00:25] qthurier opened #48 "knowledge repo content refresh"
The only way I found at the moment to have a content up to date served by the webapp is to stop it and redeploy it. Is there a workaround to get a fresh content, like could we force the webapp to refresh the content every x hours?

[2016-10-06 01:24] NiharikaRay commented on #48
Hi! Currently there isn't, but we're working on a feature to allow the user to hit an `/update` endpoint to update the content, and we hope to have it out shortly!

[2016-10-06 01:44] NiharikaRay commented on #47
Could you post a snippet of the template (or is this the starter template that we've provided?)

[2016-10-06 01:51] qthurier commented on #47
Yes it is exactly the Rmd starter template

[2016-10-06 01:52] qthurier commented on #48
Awesome thanks for the reply.

[2016-10-06 05:09] qthurier opened #51 "Add a custom thumbnail in the feed page"
Is there a way to do that during the adding step of a knowledge post? The is a feed_image parameter in the code but I don't see how to use it.

[2016-10-06 07:36] matthewwardrop commented on #51
Hey @qthurier! We do have a patch against the old internal version of this code which adds support for just that. We're almost finished deprecating our internal repository, after which time all development will be done here. I'll see if I cannot resurrect it soon.

The way this feature currently is implemented is to allow you to specify in the headers of your post which image should be used as the

[2016-10-06 07:41] matthewwardrop commented on #47
@qthurier We had similar issues internally, but these seemed to be resolved with the most recent version. Just in case, can you confirm the version of the knowledge_repo code you are using is 0.6.3?

I suspect that what may be happening is that you have enabled the embedded tooling and it is using that version rather than your system-installed version. To verify this, try adding the `--dev` option

[2016-10-06 07:42] matthewwardrop opened #52 "Disable embedded tooling by default"
The fact that this is enabled by default seems to be tripping a few people up. Since this setup only makes sense in larger establishments, it should be optionally enabled. This will also have the benefit that at least someone associated with each knowledge repository knows why the local version of `knowledge_repo` is not being used.

[2016-10-06 09:20] qthurier commented on #47
I'm not sure of the version.. I've installed it today from github following the guide in the README, how can I check the version? Adding --dev doesn't help..
I'm running MacOs El Capitan with Python 3.5.1 | Anaconda 2.4.0

[2016-10-06 09:21] qthurier commented on #51
Yeah that would be great thanks!

[2016-10-06 21:34] qthurier opened #53 "Intra-linking format"
Could you elaborate on how to point from a notebook/md file to the ressources in orig_src?

Let's say my knowledge repo is foo, my project is bar, my post is post. What url should I use in order to render an image? I've tried to copy the format suggested in #45 but this doesn't work:

`![text](foo:bar/post.kp/orig_src/ressource.png)`

[2016-10-06 21:59] earthmancash commented on #53
Hello Quentin! We currently only have intra-linking at a post level. So if you have a post in path `projects/growth/test.kp`, you can link to that post with a simplified `knowledge:projects/growth/test.kp`. We are planning on building the ability to link to files in `orig_src`, but don't have it built currently. It's definitely functionality we'd like to support, as part of https://github.com/airb

[2016-10-06 23:06] earthmancash commented on #53
@qthurier or perhaps I misunderstood. Are you trying to contribute a post that has an image link to something local on your computer, and you want that image to render on the site? That should be working, are you seeing broken images?

[2016-10-08 06:37] kingo55 opened #57 "Git checkout requires public key be configured with Github"
Really excited to try this guys - I have been following your project since you posted about it on the blog and I feel like this solves a lot of problems with sharing insights!

Hoping to try it on macOS sierra, the instructions on the readme threw errors each step of the way.

## Step 1 - Git SSH not setup, easier to use HTTPS right?

[code]

Easier to use HTTPS right?:

[code]

Then again, judgin

[2016-10-10 19:04] earthmancash commented on #47
You can check version with the following commands in python shell:

[code]

[2016-10-11 01:00] qthurier commented on #47
thanks, yes it is '0.6.3'

[2016-10-11 01:06] qthurier commented on #53
The use case is that I want to be able to display an image with the markdown syntax, but I don't know what path I should use:

`![text](foo:bar/post.kp/orig_src/ressource.png)`

[2016-10-11 17:32] earthmancash commented on #53
Images from the contributed posts will either get put in the images/ folder of a kp, or pushed to a cloud hosting service such as s3 if that is configured. The logic for that process is here:

https://github.com/airbnb/knowledge-repo/blob/master/knowledge_repo/postprocessors/extract_images.py#L33

So after running `knowledge_repo add` on the post, the image paths should change to the kp location.

[2016-10-11 17:54] matthewwardrop commented on #57
Greetings Robert! Thanks for your interest in this project!

You're quite right. Using https makes a lot more sense, and it is at no point actually necessary to use the ssh protocol with git. The error messages seem to suggest you haven't set up a public key with Github; but this should not be necessary. I'll fix this asap.

[2016-10-11 21:36] earthmancash commented on #47
Interesting, that is the up to date version. We're having some trouble reproducing the issue. What R and knitr version do you have installed? You can get R version with the `version` command, and knitr version with `packageVersion("knitr")`.

[2016-10-11 22:37] qthurier commented on #47
platform       x86_64-apple-darwin13.4.0
arch           x86_64
os             darwin13.4.0
system         x86_64, darwin13.4.0
status
major          3
minor          3.0
year           2016
month          05
day            03
svn rev        70573
language       R
version.string R version 3.3.0 (2016-05-03)
nickname       Supposedly Educational

[1] ‘1.14’

[2016-10-11 23:38] qthurier commented on #53
let's say this is my markdown file:

![screen shot 2016-10-12 at 12 33 35 pm](https://cloud.githubusercontent.com/assets/4801331/19292387/3c964628-9078-11e6-9202-b090339b668b.png)

this is what the web app looks like:
![screen shot 2016-10-12 at 12 35 07 pm](https://cloud.githubusercontent.com/assets/4801331/19292438/8ad77d48-9078-11e6-9f7f-ee268b79da01.png)

because the html source code still poi

[2016-10-12 01:00] earthmancash commented on #53
Interesting, I just ran through the process on the Rmd field with a local image reference to make sure the images are getting byte encoded, which is what the repo does if there's no cloud hard drive to put it on.

Here's the markdown reference:

![image](https://cloud.githubusercontent.com/assets/20175104/19293809/4badf454-8fdc-11e6-83b9-1aa0ff75ee65.png)

and here's the preview:

![image](https:/

[2016-10-12 01:34] earthmancash commented on #53
Here's a fix for the issue

https://github.com/airbnb/knowledge-repo/pull/59

[2016-10-12 02:53] qthurier commented on #53
I've tested the branch tilde-local-image-paths and the html source code is still calling the local path

[2016-10-12 04:28] earthmancash commented on #53
Did you create a new knowledge data repo using the branch? Adding gitposts uses the post contribution code from the `.resources` folder of the data repo.

[2016-10-12 04:36] matthewwardrop commented on #57
Thanks again for your enthusiasm and interest Robert. This is is solved by #61 , which will be merged imminently. Let us know if you come across any other difficulties.

[2016-10-12 04:36] #57 closed

[2016-10-12 04:57] matthewwardrop commented on #52
Solved by #63

[2016-10-12 04:57] #52 closed

[2016-10-12 05:02] matthewwardrop opened #64 "Improve the URL schema"
Currently all knowledge-repo urls are top-level. We will be refactoring the url schema shortly.

[2016-10-12 05:05] matthewwardrop opened #65 "knowledge_repo script review"
The `knowledge_repo` script has grown organically since it was created, and there are a few confusing properties of the script (such as when to use the `-p` option with the `add` action). It will be thoroughly reviewed, and updated accordingly.

[2016-10-12 05:07] matthewwardrop opened #66 "Store Git KnowledgeRepository configuration on a separate branch"
This makes user operation much more secure (since the configuration branch can be locked down remotely, and hence the user is not running arbitrary python code).

[2016-10-12 05:11] matthewwardrop opened #67 "Fully support KnowledgeRepository API on a GitKnowledgeRepository without runtime switching of branches"
Currently, while all the API is implemented, the implementation switches branches frequently. The GitKnowledgeRepository implementation should write information directly into the git metastore, which will allow for editing of posts stored in a git repository via the web editor.

[2016-10-12 05:16] matthewwardrop opened #68 "Add support for handling permissions at post and repository level"
These permissions would apply only through the web user interface, since "physical" access to the post datastore should be managed separately.

[2016-10-12 16:56] nathancomiskey opened #69 "bug: running web app on v0.6.5"
First, on v0.6.5 deploying the web app does not work correctly.  Pages are not rendering with an error message displayed but moving back down to v0.6.3 the bug disappears.  When I run a preview of a Knowledge Post it renders correctly, the issue only occurs when I initiate a server, either via `deploy` or `runserver`.

Second, thanks for a great application.  Is raising an issue the best way to ra

[2016-10-12 17:09] NiharikaRay commented on #69
Hi! Thanks for the feedback! Raising an issue is the best way to communicate feedback - I've just added the bug label here for clarity.

Could you gives us the error message you're seeing? I tried to reproduce the issue on my side but was able to load the web app.

[2016-10-12 17:18] ametersky opened #70 "pip install command throws error"
Running `pip install git+ssh://git@github.com/airbnb/knowledge-repo.git[all]` gives the following error

[code]

[2016-10-12 17:18] matthewwardrop commented on #47
Hi @qthurier!

Can you upgrade to 0.6.5 using `pip install --upgrade knowledge-repo`, and then run `knowledge_repo --version`? This will tell us exactly which version of the code is being run when you use the `add` action (the version listed next to `Embedded/active version`). If that turns out to be 0.6.5, then that is very weird; because none of us can reproduce your error locally (and we have v

[2016-10-12 17:26] matthewwardrop commented on #70
Hi @ametersky,

Thanks for your interest in the knowledge repository!

In some shells, you need to encapsulate the package name in quotes, i.e.:
`pip install "git+ssh://git@github.com/airbnb/knowledge-repo.git[all]"`

This install command is a bit outdated though, since we haven't updated our README.md properly to reflect the simplest way to install this software. The above command will install di

[2016-10-12 17:26] #70 closed

[2016-10-12 17:30] ametersky commented on #70
This worked.  Thanks for the quick response -- we are excited to start using this at BuzzFeed!

[2016-10-12 17:41] matthewwardrop commented on #70
Hoorah!

[2016-10-12 18:17] ametersky opened #72 "running web app gets stuck in alembic migration"
running `knowledge_repo --repo datasci_knowledge/ runserver` gives the following output.

I've been stuck on the last log for about ~10 mins.  I figure it shouldn't take this long because it's either an empty migration or it is initializing the db?

[code]

This is the page I am presented with at `localhost:7000`

![image](https://cloud.githubusercontent.com/assets/13753810/19322314/89c426a0-9086-

[2016-10-12 18:23] NiharikaRay commented on #72
Could you add the `--debug` flag to the command? That'll give some more information.

`knowledge_repo --repo datasci_knowledge/ runserver --debug`

[2016-10-12 18:33] ametersky commented on #72
Adding the `--debug` flag doesn't give any extra output, unfortunately.

[2016-10-12 18:44] ametersky commented on #72
I just looked in `/tmp` to see if the database was ever created and I'm not seeing anything there.

[2016-10-12 18:46] ametersky commented on #72
Also, just realized this would show debug info in the web app, not the logs.  Here is the debug info from the web app :facepalm:

[code]

[2016-10-12 18:51] NiharikaRay commented on #72
Hi! PR for this bugfix is out: https://github.com/airbnb/knowledge-repo/pull/73

[2016-10-12 18:54] ametersky commented on #72
Thanks for being so speedy!

[2016-10-12 20:11] NiharikaRay commented on #72
The bugfix was merged - let us know if you're still running into issues!

[2016-10-12 20:11] NiharikaRay commented on #69
We just added a bugfix for this - could you retry this and let us know if you're still seeing an issue?

[2016-10-12 20:23] #72 closed

[2016-10-12 20:24] #69 closed

[2016-10-12 20:42] ametersky commented on #72
Thanks! Going to test it out now.

[2016-10-12 20:59] NiharikaRay opened #74 "Allow --help to be passed to the knowledge_repo command without needing --repo flag"
Right now, if you need help with the knowledge_repo command, you have to first pass in the --repo flag and then the --help flag. That doesn't make sense from a user perspective.

[2016-10-12 21:15] qthurier commented on #53
Ok thanks, it works perfectly with python 2.7, not with 3.5 that raise error now when adding md post, but seems to be another issue.

[2016-10-12 21:17] qthurier opened #75 "Error when adding an md post on a python 3.5 environment"
I'm using the 0.6.6 version + python 3.5. I got error adding md posts:

![screen shot 2016-10-13 at 10 12 37 am](https://cloud.githubusercontent.com/assets/4801331/19327979/3448d54c-912e-11e6-83eb-45abaaf5f874.png)

[2016-10-13 19:16] earthmancash commented on #53
Great, I see the other issue with byte encoding local images on python 3.5, will have a look. Thanks for filing these issues!

[2016-10-13 19:16] #53 closed

[2016-10-13 19:16] earthmancash commented on #75
From the error messages, it looks like this is an issue on the byte64 encoding of local images on post contribution. We'll have a look and try to replicate the bug in python 3.5

[2016-10-13 20:44] qthurier commented on #47
Hi @matthewwardrop ,
I've switch to a python 2.7 environment and upgrade to 0.6.6 and Rmd posting works now. Thanks.

[2016-10-13 22:31] matthewwardrop commented on #47
@qthurier : So Python 3 still fails to work for you? [That would be *very* odd, since in Python 3 UTF-8 encoding is usually a non-issue].

[2016-10-13 22:50] matthewwardrop commented on #74
Hey Nikki! I don't see this.

[code]

[2016-10-14 00:21] #75 closed

[2016-10-14 04:58] matthewwardrop commented on #75
This is fixed as of latest master; and will be part of v0.6.7 when that gets released.

[2016-10-14 05:42] matthewwardrop commented on #47
This should fixed as of current master. In retrospect, this would have been the same issue as for the Markdown; since only jupyter notebooks skip this stage of the post processing.

[2016-10-14 05:42] #47 closed

[2016-10-14 16:49] earthmancash opened #78 "knowledge:path/to/post.kp links not working"
Intra-linking (links to other knowledge posts with `knowledge:path/to/my/post.kp` links are not rendering.

[2016-10-24 04:13] Cleopatro commented on #69
It seems not work in v0.6.6.

When I run `knowledge_repo --repo ./ runserver`, `localhost:7000` will redirect to `localhost:7000/feed`. It goes well on the `feed` page. However, when I click any of link on this page, a new page shows with the message "Uh oh! Looks like something broke
Try clicking around on the other links while we try and get this page up and running".

Interesting, When I run `k

[2016-10-24 18:14] earthmancash commented on #69
Having a look. I'm guessing this might be a regression from the EXCLUDED_TAGS concept we introduced, will let you know when I figure it out.

[2016-10-24 21:26] earthmancash commented on #69
@Cleopatro I think this fix took care of the issue https://github.com/airbnb/knowledge-repo/pull/81. Can you re-run and add the debug flag? so `knowledge_repo --repo ./ --debug runserver` and send us the output?

If you see this error, then it's the one that the latest bug fixed, and pulling the changes should fix it.

[code]

[2016-10-25 19:30] earthmancash opened #82 "Include link to post in subscription emails"
Our subscription emails include image-less text of the posts. It'd be good to also include a link to the post on the web application.

[2016-10-26 22:25] sryza opened #83 "Documentation for setting up database knowledge repo"
The README has great doc on how to use a git-based knowledge repo, but some guidance on a database-based would be really helpful.

[2016-10-26 22:43] kaelhuerta opened #84 "'NoneType' is not iterable"
I'm getting again this error that I've seen in other issues.

My complete log is here:

[code]

I'm testing it out, so it may be an error on my part. Yet, I don't see any database been created.

Thanks for such an awesome tool!

[2016-10-26 23:45] NiharikaRay commented on #84
hi! What version of the knowledge-repo are you running? In the latest version (0.6.7), this should have been fixed. Specifically, the line referenced (316 in `models.py`) now includes a check to make sure the excluded_tags is defined.

[2016-10-27 00:03] kaelhuerta commented on #84
Thanks for the fast response!

I had updated only my local repo but forget about the app.
It did the trick. Thanks!

[2016-10-27 00:03] #84 closed

[2016-10-27 00:07] matthewwardrop commented on #83
Hi @sryza!

We do need to add some documentation regarding this, so thanks for pointing it out.

The short version, though, is that you set up the database however you like (e.g. `CREATE DATABASE knowledge;` in mysql); and then just point the `knowledge_repo` script at that database.

For example:
`knowledge_repo --repo "mysql://<username>@<servername>/<database>:<table_to_be_used_to_store_posts>"

[2016-10-27 00:13] NiharikaRay commented on #74
Not an issue still, thanks Matthew!

[2016-10-27 00:13] #74 closed

[2016-10-27 04:44] lyons422 opened #88 "chunk option is not supported for Rmd?"
Trying to avoid the result print of some of the chunks by using following chunk options. But it seems the option setup was not taking effect.

[2016-10-27 04:48] lyons422 commented on #88
false alarm...

[2016-10-27 04:48] #88 closed

[2016-10-27 19:22] NiharikaRay opened #90 "Pressing enter on the search box with an author name returns no results"
This was reported by an internal user, and was confirmed by me. I'll tackle this in a search refactor

[2016-10-28 15:35] kaelhuerta opened #91 "Documentation: How to set users"
Hi, I'm still testing out the knowledge repo and I have a question.

I'm getting always the **knowledge_default** user.
How to set up users and emails?

Could you elaborate more on this on the documentation?

Thanks a lot!

Also, where to leave feedback? as an issue on Github?

[2016-10-28 17:15] earthmancash commented on #91
That's a good point, we don't have much documentation on where each of the config files are. I'll take a pass at upgrading that documentation, in the mean time, here's the [sample config](https://github.com/airbnb/knowledge-repo/blob/master/resources/server_config.py#L48-L49) username parsing lines. When starting the app, you can use a server config file by adding a `--config /path/to/server_confi

[2016-10-28 18:18] earthmancash commented on #91
To make it more clear how that config value is used, have a look here https://github.com/airbnb/knowledge-repo/blob/e5aaeef74f7f81544372b1f2f9c61bafe4f69b46/knowledge_repo/app/app.py#L127

[2016-10-28 19:50] kaelhuerta commented on #91
Thanks a lot!

[2016-10-28 21:48] earthmancash commented on #91
Added a bit of detail here https://github.com/airbnb/knowledge-repo/pull/92

[2016-10-28 22:13] NiharikaRay opened #94 "Params do no get passed correctly to pagination"
If you click on an author in a knowledge post, you arrive at a feed for the author. Clicking the next arrow returns you to the second page of the feed, without the author being set.

This is a bigger issue with how to deal with parameters (currently done hackily), I'll take this fix on.

[2016-10-31 14:50] Pl-Mrcy opened #95 "Documentation: extra files"
Hi, I'm still testing out the knowledge repo and I have a question:

I did not see anywhere what is the prefered way to add extra files (ex: excel files, sql files,...) in the commit when you submit your blog post.

Is there also any way to automatically have a list of all the extra files directly in the blog post?

Thank you !

[2016-11-01 04:54] matthewwardrop commented on #78
Should also ensure that inter-knowledge post links to always point to other posts within the same KnowledgeRepository.

[2016-11-01 06:48] matthewwardrop opened #97 "Neaten the deployment code to allow for multiple deployment servers"

[2016-11-02 12:12] pteehan opened #102 "Add metadata template to existing content files"
Hello,  I've just started looking at knowledge-repo and I think we'll be adopting it at my organization.

Feature request:
If the user already has a content file (e.g. ipynb notebook) they would like to add to the repo, they have to manually add the metadata.  It would be nice to have something like this, which could add the sample metadata template to the file, so the user can fill it in:

    kn

[2016-11-02 12:14] pteehan opened #103 "Template dates are hard-coded to 2016-06-29"
When creating a post with knowledge_post create, it would be nice if the created_at and updated_at dates were set to the current date.

[2016-11-02 16:27] sryza commented on #83
Thanks @matthewwardrop, really helpful!  What does the submit workflow look like when using a database?  For a git knowledge repo, the README describes the workflow as submit, then PR, then merge into master.  Do these concepts exist with the database knowledge repo?  Or submissions just go to "master" directly?

[2016-11-02 21:37] matthewwardrop commented on #48
Hi @qthurier; we have finally addressed this in #105 . Should be merged soon.

[2016-11-02 21:44] matthewwardrop commented on #103
Hey @pteehan,

Yeah... we need to make the templates more dynamic. Thanks for reminding us about this. I'll change the title of the issue to reflect the more general ambition, and we'll see if we cannot address it soon. :).

[2016-11-02 21:49] matthewwardrop commented on #102
Hey... that's great news! It's always encouraging to hear of people using the knowledge repository! Do please continue to let us know of any issues you have with it so we can make it better for everyone.

And yes, this would be pretty neat! Adding some way to "upgrade" existing ipython notebooks/Rmd/md by adding the YAML headers sounds like a pretty good idea.

We might not get to it for a while,

[2016-11-02 21:55] matthewwardrop commented on #95
Hi @Pl-Mrcy,

While our backends support adding these files, the front-end has yet to expose these "source" files for download (see issue #45).

To add the source files just add them in a space separated list after the keyword `--src` to the `add` action. For more details, refer to the help:

[code]

An example of adding an excel spreadsheet as an "attachment" or "adjunct" file to a knowledge post

[2016-11-02 21:58] #95 closed

[2016-11-03 09:24] RMHogervorst opened #109 "[Windows] error in knitting process Rmd"
I modified step 5
[code]
To work with Rmd

`knowledge_repo --repo ./example_repo add example_post.Rmd -p project/example`

However I recieved the folowing error

[code]

I think somewhere in the script `knowledge_repo\converters\rmd.py`  the problem resides

[2016-11-03 22:00] NiharikaRay opened #111 "[Tests] Add unit tests for groups feature"
Let's add tests. Will assign to myself.

[2016-11-03 22:54] NiharikaRay opened #113 "Documentation around Posts"
We need to have a better system of documentation around the headers available in posts, and what they do. Specifically important for the addition of permissions to posts.

[2016-11-04 05:24] kaelhuerta opened #115 "Adding a long commit message"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hey, reviewers! I'm gathering several questions that I had while testing the repo out. Please let me know if you prefer an issue for each of them.

1. Is there a way of adding a long message to the commits instead of the default `commit -m` style?

2. Why are so many pages displayed even if I have only 2 posts?

![image](https:

[2016-11-04 11:36] Pl-Mrcy commented on #95
Hi Matthew,

I indeed hadn't read the help well enough. You solved my problem.
However I didn't succeed in adding a folder (with multiple files inside) using this option.

```knowledge_repo add post/test.kp -p projects/test --src test_folder/```

This would add the entire test_folder to projects/test/orig_src.

Thank you very much for your quick answer and for this great work !

[2016-11-04 15:33] Jim89 commented on #109
I think it's due to Windows and it's insistence on using '\' rather than '/' for file paths (e.g. see [this](http://stackoverflow.com/questions/8425409/file-path-issues-in-r-using-windows-hex-digits-in-character-string-error/27071930#27071930) SO post), coupled with `R`'s insistence on using `/`. Doesn't exactly make for a joyous situation.

Easiest solution is to replace all '\' with '\\' to esca

[2016-11-04 15:38] RMHogervorst commented on #109
There is actually a os independent solution with file.path() i believe

Op 4 nov. 2016 16:33 schreef "Jim Leach" <notifications@github.com>:

I think it's due to Windows and it's insistence on using '\' rather than
'/' for file paths (e.g. see this
<http://stackoverflow.com/questions/8425409/file-path-issues-in-r-using-windows-hex-digits-in-character-string-error/27071930#27071930>
SO post), coupl

[2016-11-04 15:43] Jim89 commented on #109
There is, but the way they call `R` and `knitr` to create the post from an Rmd is using the variables from the command line (see [here](https://github.com/airbnb/knowledge-repo/blob/master/knowledge_repo/converters/rmd.py)). Rather than embed a call to `file.path()` inside the in-line `R` command it's probably easier to do a find-and-replace on the variables first (perhaps only if the OS is detect

[2016-11-04 16:01] RMHogervorst commented on #109
Yeah fair enough.

Op 4 nov. 2016 16:43 schreef "Jim Leach" <notifications@github.com>:

[2016-11-04 16:04] Jim89 commented on #109
Ok `os.path.abspath()` don't actually correctly escape `\` (it just looks that way when testing in my notebook - using `print()` it looks like it's producing a single `\`).

[2016-11-04 19:24] jayswinney opened #118 "Support automatic code folding/hiding in knowledge posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
Is there an option to hide the code in knowledge post somewhere? It's mentioned in the article on medium, but I can't find any sign of it.

"The markdown served by our web-app hides code and uses our internal branded aesthetics, making the work more accessible to less technical readers."

knowledge-repo 0.6.10
python 3.5
Ubuntu

[2016-11-04 22:16] earthmancash commented on #118
Hey Jay! I actually misstated in the medium article. The code-hiding happens in the notebook and its postprocessing, not the webapp. Rmd files have an option to hide the code chunks, and we strip the output cells in ipython notebooks. We've talked about building out more of a "code folding" concept but haven't found much demand so far.

[2016-11-05 01:11] kaelhuerta commented on #118
@jayswinney: But why would you want to hide the code if the purpose of the repo is to scale knowledge?

[2016-11-05 02:00] mwillumz commented on #118
@kaelhuerta 9 times out of 10 I want the insight via tables, charts, and narrative. Displaying code can actually be distracting. The tenth time I want to replicate, modify,  or really understand the analysis (so I expand the folded code with one click in rmd output).

It's there, just not in the forefront.

[2016-11-05 02:19] jayswinney commented on #118
@kaelhuerta I want to hide the code so the post is not intimidating to non-coders. Also it makes the post shorter and easier to read. I would envision having a hide/show code toggle as the best solution with the default set to hide.

[2016-11-05 06:33] kaelhuerta commented on #118
Then I guess your issue is with Rmarkdown, not with the Knowledge Repo, if you set the chunk options as:
[code]
The code gets evaluated, and the results shown. Yet, the code does not appear in the post until you toggle to show the raw file.

[2016-11-05 07:56] RMHogervorst commented on #46
the Software carpentry organization uses this auto installer to find the R installer
https://github.com/swcarpentry/windows-installer

[2016-11-05 08:00] RMHogervorst commented on #118
@kaelhuerta  although echo = F works, the canonical way of doing it is : echo = FALSE. (nitpicking here, but it makes the intention more clear) .

@jayswinney  There is also a [parameterized](http://rmarkdown.rstudio.com/developer_parameterized_reports.html) way of building the rmarkdown posts. That way you can build 2 versions of the same post, one with code, and one without. Not sure how to make

[2016-11-06 17:12] mowgli-m commented on #113
hi,  I would like to take up this issue. Could anyone help me out  with  the detailed version of this issue and  the amendments needed as I am new to the world of contribution ?

[2016-11-07 12:28] RMHogervorst opened #123 "request: knit a Rmd file yourself and add that file to knowledge repo"
If i want to knit with custom parameters I would like to add the resulting html file into the knowledge repo.
Is this possible?

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-07 12:32] RMHogervorst commented on #109
This is not yet solved, or does ` pip install knowledge-repo` not take the latest version from github?

Sorry, i see that it's using the version from november 3th [https://pypi.python.org/pypi/knowledge-repo/0.6.11]

[2016-11-07 19:34] ajbosco opened #124 "Support KnowledgeRepositories based on remote git urls"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Does the git repo need to be cloned to the production web server or does the <repo_path> in the deploy point to a hosted repo?

[2016-11-07 21:33] sryza opened #126 "Documentation on how to publish posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi knowledge repo folks!  I'm trying to understand the publish semantics and recommended procedure. Playing around has lead me to the conclusion that there's no documented way to publish a post and have it show up on the main UI without a restart of the web server.  Jotting down my understanding here:
* There are two different

[2016-11-08 06:03] earthmancash commented on #124
Hey there @ajbosco ! The git repo needs to be cloned to the production web server currently. It might be an interesting case to build another repository class for reading from a hosted backend, but we don't have that right now.

[2016-11-08 08:35] #97 closed

[2016-11-08 09:08] matthewwardrop commented on #48
This is now fixed in master. Will be part of the next release :).

[2016-11-08 09:08] #48 closed

[2016-11-08 15:19] karlmoller opened #127 "Automatically refreshing origin"
How do I setup a knowledge-repo server to always get the latest repository snapshot when a user accesses the knowledge-repo web server? At the moment I have to restart the server after every new submission.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-08 15:19] scosco opened #128 "semantic posibilities"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
Just wanted to drop an idea: Since this is all about knowledge, it would be nice to have semantic markup and a way to query it afterwards (e.g. using SPARQL)
I was just thinking of something like a small Wikidata https://www.wikidata.org/wiki/Wikidata:Introduction
In theory you could also connect the knowledge in the repo to the

[2016-11-08 17:45] matthewwardrop commented on #127
Hi @karlmoller,

Thanks for reaching out :). As of early this morning, the knowledge repository will automatically update the post index when the git repository is updated. At the moment, the git repository must be updated separately (manually or via cron or some other scheduling service). In the future the git repository itself will have the option of being directly pulled.

I'm going to close th

[2016-11-08 17:45] #127 closed

[2016-11-08 17:53] matthewwardrop opened #129 "Show pagination on bottom of post list as well"
When users view the post list, they usually scroll from top to bottom. Eventually we're going to adopt continuous scroll, so this won't be a problem; but for now, when they reach the bottom, they need to scroll to the top in order to move to the next page.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-08 17:58] matthewwardrop commented on #126
Hi @sryza,

Your understanding is correct as of the latest published version.

Restarting the server to show new posts was an artifact of the history of the knowledge repository; which has now been resolved. There's still some dynamics to work out (such as having a separate server manage the database and indexing; and actually updating the git repository server side), but the big block of reindexi

[2016-11-08 18:04] matthewwardrop commented on #128
This sounds like a really cool idea; but at this stage I have no idea what that kind of integration would look like (and we other more pressing things to work on within the knowledge repository). Feel free to continue fleshing out how this might look, and we can see where we can go with it. I'm going to allocate it to the "Post 1.0.0" milestone for now, though.

Thanks for helping to make the Know

[2016-11-08 18:07] matthewwardrop commented on #123
Hi @RMHogervorst,

The simplest way would be to knit to a markdown file, and then just use the standard addition procedure. Is there a reason that you cannot just knit to a markdown file?

[2016-11-08 18:21] matthewwardrop commented on #115
Hi @kaelhuerta,

Thanks for your interest in the knowledge repository :). Let me respond to your questions one by one :).

At this stage, no. We will be renovating the `GitKnowledgeRepository` class soon, so we'll try to add such support then.

The user interface is quite immature, since a lot of recent attention has been spent on improving the back end. The user interface will get incrementally i

[2016-11-08 18:21] #115 closed

[2016-11-08 18:32] NiharikaRay commented on #113
Hi Mowgli,

Absolutely. One of the issues that I see with Knowledge Repo documentation is that no where in the documentation do we explain:

[] What headers are available in YAML
[] How posts can be interacted with (you can view them in rendered or raw markdown)
[] How changing tags on a post works
[] How post permissioning works (which was a feature released recently (#101 and #108)

and probably

[2016-11-08 18:41] kaelhuerta commented on #115
I updated the knowledge repo to the last version and is showing the logo correctly.

But about the thumbnail. Has it to be an image?
If the post has plots, they aren't supposed to show as thumbnail in the current version?

Thanks for the response.

[2016-11-08 18:51] matthewwardrop commented on #115
Yes. Currently to show up as a thumnbnail, plots must be a static image. [So no plotly instances or anything]. Is that not working for you?

[2016-11-08 18:52] kaelhuerta commented on #115
No, and it is a ggplot2

[2016-11-08 19:38] matthewwardrop commented on #115
Hmm... can you send the source code for the generated markdown file? [Appropriately anonymised if necessary]. You can send it directly to my email: matthew <dot> wardrop <at> airbnb.com

[2016-11-08 20:54] RMHogervorst commented on #123
you know I never thought about it that way.

Perhaps a nice thing to add to the documentation?

[2016-11-08 21:01] RMHogervorst commented on #109
I tried installing the latest version using github. But that didn't change teh problem.

[2016-11-09 01:18] ajbosco-fb commented on #83
Does using a database as the repo work now or is this future functionality?

[2016-11-09 10:07] mpekalski opened #131 "SSH Key"
Maybe I have missed something, but is it possible to connect with knowledge repo to a git repository using ssh (on a different port than 22)? I would like to use ssh key and not have to write username and password every time, but it does not seem to work at the moment.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-09 21:56] RMHogervorst opened #133 "Add separate documentation for Windows installations?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-09 22:33] mpekalski commented on #131
I have added new function that extracts port from the repository's url, and made a PR, https://github.com/airbnb/knowledge-repo/pull/132

[2016-11-09 22:33] #131 closed

[2016-11-10 00:51] matthewwardrop opened #135 "Add reset index functionality"
Occasionally for whatever reason, the index may need to resynced with the repositories. Examples include when there is some batch migration of the repository that changes tags/etc but does not increment revision of posts. This functionality should only be available for administrators.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-10 01:51] matthewwardrop commented on #123
Let's reopen this then, so we keep track of it and can add it to the documentation soon. That's a probably a good idea :).

[2016-11-10 05:29] matthewwardrop opened #136 "Add detailed documentation around deployment best practices"
In particular, we need to provide a few examples of different deployment scripts, along with a discussion of what can be configured for local deployments.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-10 05:44] matthewwardrop commented on #95
@Pl-Mrcy Yeah... I don't think I could decide at the time whether we wanted to support that (it runs the risk of repositories getting really bloated). Will have to think some more on this, I think...

[2016-11-10 05:49] matthewwardrop commented on #46
Thanks @RMHogervorst! It looks interesting, though it does seem pretty invasive a change for users. We're hoping to find a way that makes as fewer changes to whatever workflows they are used to as possible.

[2016-11-10 06:54] matthewwardrop commented on #133
This is probably a good idea. Do you have some expertise setting up Windows environments for this sort of thing? We fixed the code to work on Windows, but are not sure how the community at large deals with Windows installations.

[2016-11-10 06:56] RMHogervorst commented on #133
Unfortunately my only experience is with my own computer.

Op 10 nov. 2016 07:54 schreef "Matthew Wardrop" <notifications@github.com>:

[2016-11-10 11:07] RMHogervorst commented on #136
and perhaps an example where people can see what it looks like?

Oh and how to restrict access

[2016-11-10 14:25] mentat2737 opened #137 "Docker image"
Would be nice to have a docker image available, or at least instructions on how to make one.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-10 16:59] retroam commented on #115
@matthewwardrop was the issue resolved. also experiencing the same issues.

[2016-11-10 17:05] matthewwardrop commented on #115
@retroam Not yet. Still getting to the bottom of it. Are you also using Rmd files?

[2016-11-10 19:54] matthewwardrop commented on #115
@retroam @kaelhuerta This is now resolved in #138 . Will be in the next minor release (v0.8.0).

[2016-11-10 21:31] matthewwardrop commented on #51
Support now complete in master.

[2016-11-10 21:31] #51 closed

[2016-11-10 21:57] matthewwardrop commented on #78
This is fixed in master now.

[2016-11-10 21:57] #78 closed

[2016-11-10 22:16] matthewwardrop commented on #137
Hi @mentat2737, Docker images are coming! For now, I'll merge this into #136. Thanks for your continued interest!

[2016-11-10 22:16] #137 closed

[2016-11-11 03:35] qthurier commented on #51
Humm could you provide an example of what the header should like then?

This doesn't work (I still have the default image):

---
title: An unsuccefull attempt to ..
authors:
- Quentin
tags:
- tag0
- tag1
thumbnail: 2
created_at: 2016-11-11
updated_at: 2016-11-11
tldr: This notebook is extracted from the bitbucket repo ...
---

[2016-11-11 05:48] matthewwardrop commented on #51
Hi @qthurier,

You should run this header through add script, which will then hard code the actual path into the the thumbnail field. I've tested it locally, and it all seems to work well. Can you run through how you are adding it to the repository?

Also, can you run `knowledge_repo --repo <repo> version`?

[2016-11-11 08:07] mentat2737 commented on #137
Perfect, thanks for the reply.

[2016-11-11 11:24] pteehan opened #141 "Reproducible code - extra files, folder structure, external source archives?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

This is a bit of a discussion question - I'd like to understand how you see the knowledge_repo being used.  My understanding is that one of the goals is to make knowledge reproducible which I strongly agree with.  But let's imagine I have the following project structure:

    notebooks/my_notebook.ipynb
    src/extra_scripts_1.

[2016-11-11 14:44] retroam commented on #115
@matthewwardrop using ipynb

[2016-11-12 10:35] mdbenito commented on #141
I agree that it should be possible to add several files.

I've been thinking about your last point too and I guess the only way one can ensure reproducibility is with some sort of container / virtual machine system. Docker seems to fit perfectly:

* When creating a KP from the web interface, one selects in which environment it will run: python version, packages that will be used, etc. (maybe simpl

[2016-11-14 04:11] qthurier commented on #51
I added the header as a raw nbconvert cell at the top of my notebook, then this sequence of actions: add, submit (merge the new branch) and deploy

knowledge_repo --repo ds_knowledge_repo/ --version :
[code]

[2016-11-15 14:46] pekovits opened #143 "Preview function doesn't work"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Once the web app is deployed and trying to open the post, it can't open it. I get an error message saying "Looks like something is broken"

[2016-11-15 17:02] gstoel commented on #133
Here also someone who is willing to help/test stuff out to get this working on windows.
currently it fails to run on windows with ImportError: No module named fcntl (which I think is due to the fact that gunicorn is not supported under windows).

@matthewwardrop you mention you have fixed the code to work on Windows right? Unfortunately not at ' my Windows'  :) so willing to help get it working th

[2016-11-15 17:13] RMHogervorst commented on #133
I'm willing to test but I'm a Python novice. So I'll not take the lead here

Op 15 nov. 2016 6:02 p.m. schreef "Geoffrey Stoel" <notifications@github.com

[2016-11-15 17:30] matthewwardrop commented on #143
Hi @pekovits,

Can you try running the preview in debug mode? Try : `knowledge_repo
--debug preview ...`. This should provide the traceback log, so we can
actually see what's going on :).

On 15 Nov 2016 06:46, "pekovits" <notifications@github.com> wrote:

[2016-11-16 09:19] pekovits commented on #143
Hi @matthewwardrop,

Please find attached a txt file with the output from running preview in debug mode.
[log.txt](https://github.com/airbnb/knowledge-repo/files/594136/log.txt)

[2016-11-16 09:46] pekovits commented on #143
Hi @matthewwardrop,

I am glad to say that I have fixed my issue. I traced back at the error and found that the six module was not up to date. I updated with pip and now it works great.

Thanks

[2016-11-16 09:46] #143 closed

[2016-11-16 18:39] NiharikaRay opened #145 "Batch tags route doesn't work"
During the demo yesterday, I noticed that this route doesn't work. The error message thrown was:

```AttributeError: 'Post' object has no attribute 'contains_excluded_tags```

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-16 22:04] matthewwardrop commented on #143
Hurrah! Thanks for letting us know @pekovits !

[2016-11-24 02:14] sryza commented on #126
Thanks @matthewwardrop, makes sense.  It looks like #105 addresses the gap I was concerned about.

[2016-11-24 13:58] cosenal opened #151 "Web-editing UI not visible"
I am using v0.7.2 from pip and running the webserver from the following command:

[code]

In `server_config.py` there is a string:
```WEB_EDITOR_PREFIXES = ['webposts']```

According to the Readme, with that configuration I should be able to see web-editing UI options (such as »Create Post«), but I don't :(

<img width="1045" alt="screen shot 2016-11-24 at 14 31 31" src="https://cloud.githubuserco

[2016-11-29 18:43] danfrankj commented on #151
Hey @cosenal, Thanks for your interest in the knowledge repo and for reporting this bug.

I believe this PR https://github.com/airbnb/knowledge-repo/pull/140 addresses the issue. Please let us know if you still have issues!

Thanks!

[2016-11-29 19:00] earthmancash opened #153 "wrong url when searching from post"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Searching from feed properly directs to /feed?filters=searchterm, but searching from post directs to /render?filters=searchterm which just ain't right

[2016-11-30 12:02] karlmoller opened #154 "Non-Python kernel Jupyter Notebooks"
Is it easily possible to support any Jupyter notebook with non-Python (like the IRKernel) kernels?

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-11-30 17:02] sryza opened #155 "Images don't display in knowledge posts."
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi all,

I've deployed the knowledge server on top of a knowledge repo that's a MySQL DB, and I'm having trouble getting images to display in any knowledge post.

I'm running on top of master, and I've verified that the images have entries in the knowledge repo database.  For lack of a better way that I'm aware of, I've been "p

[2016-11-30 17:36] matthewwardrop commented on #154
Hi @karlmoller,

Thanks for getting in touch!

The knowledge repo itself does not run the ipython notebooks; but rather uses whatever information is cached in the notebook at the time that it is imported. As such, knowledge repo is entirely agnostic as to which kernels you are using in the notebook itself.

So... yes. It's very easy, because it is already supported :).

[2016-11-30 17:38] karlmoller commented on #154
It does seem to assume that all code is Python in the generated .kp though.

[2016-11-30 17:40] matthewwardrop commented on #154
As in, the markdown always has "```python" or some such?

[2016-11-30 17:41] karlmoller commented on #154
Yes exactly. Not a major problem I guess.

[2016-11-30 17:54] matthewwardrop commented on #154
Hmmm... Let's reopen this and we'll look into it when we can :).

[2016-11-30 18:38] matthewwardrop commented on #155
Thanks for reporting this @sryza !

We'll look into it and see if we can reproduce it. If we can, we'll fix it; otherwise we'll try to work with you to see what's going on.

Thanks again!

[2016-11-30 18:51] matthewwardrop commented on #141
Hi guys,

All of the ideas presented here sounds really cool; and we'd love to get to a place where it makes sense to do these things. Having a way to guarantee that the code uploaded to the knowledge repository can run reproducibly would be a big boon. As a corollary of this, it may even be possible for the knowledge repo server to securely run code in the notebook itself.

One way to mitigate th

[2016-11-30 18:52] matthewwardrop commented on #135
This is achieved in: #146 ; which is almost ready to merge.

[2016-11-30 20:28] ajbosco commented on #155
@sryza What are the steps for deploying a knowledge repo that's a MySQL DB?

[2016-11-30 20:37] matthewwardrop commented on #155
@ajbosco You can just do:

`knowledge_repo --repo mysql://<username>@<host>/<database>:<table> deploy`

[2016-12-01 13:55] koaning opened #156 "Feature Request: Form Based Posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I don't know if this is the right place for this. But after showing this project to a few clients there seemed to be an unexpected feature missing before folks wanted to invest in this project.

This project is interesting because it offers a standardised method to share data science documents in an open blog kind of format. Tu

[2016-12-01 14:05] koaning opened #157 "Centrally Control Users/Tags"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I'm following the tutorial in the documentation with the examples. Once I ran the commands from the documentation for `.ipynb` and `.Rmd` and then render I see a subtle but annoying  problem.

![image](https://cloud.githubusercontent.com/assets/1019791/20796628/459efa68-b7d7-11e6-85ce-a4fcaef4fee8.png)

Because the authors of b

[2016-12-01 17:26] earthmancash commented on #157
Hey @koaning! Thanks for filing the issue. The way we check author matching a username format is via this username_parse() [function](https://github.com/airbnb/knowledge-repo/blob/master/knowledge_repo/config_defaults.py#L31-L35). That file will show up in the knowledge gitrepository on initialization as a file named .knowledge_repo_config.py. Within that function, we have an assert() that makes s

[2016-12-01 17:26] earthmancash commented on #157
If this fixes your issue, I'll make sure to clear this up more in the documentation

[2016-12-01 18:29] earthmancash commented on #157
For tags, we have an endpoint /batch_tags, which is used to clean up these types of formatting differences. We've talked about having tags added purely through the web app with typeahead to encourage matching existing tags and format, but haven't aligned on that yet.

[2016-12-01 18:46] danfrankj commented on #156
Howdy @koaning

These are great thoughts - responses below

re: git
We also have researchers who do not use git and have developed web-based contribution flow which if enabled for your repository allows users to add posts and they only need to know markdown (
![image](https://cloud.githubusercontent.com/assets/616139/20807202/cfb3e9fe-b7b2-11e6-96fc-9102c82c11c3.png) I'll be writing up some more d

[2016-12-05 17:02] philipobrien opened #159 "Missing dependencies required to use `IpynbFormat` instances"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Following the install steps does not satisfy all dependencies

[code]

at which point I get

[code]

[2016-12-05 19:58] earthmancash commented on #159
hey @philipobrien ! Thanks for filing the issue. So we purposely left out ipynb dependencies in the main install, as some users are not using iPython notebooks as their post contribution medium. To install ipynb in addition to knowledge-repo, you can do `pip install --upgrade knowledge-repo[all]`, which will additionally include dependencies for development tests and PDF uploading.

To make this a

[2016-12-05 20:43] philipobrien commented on #159
Ah OK, I should have guessed that. Thanks for the quick reply!

[2016-12-05 20:43] #159 closed

[2016-12-06 14:45] philipobrien opened #161 "How to quit the web app?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Following the quick start guide, I run `knowledge_repo --repo ./example_repo preview project/example_ipynb` and can preview the example post successfully, but I can't then quit the web app? The usual suspects of `Ctrl-C` or `Ctrl-D` do nothing.

[2016-12-08 02:04] sryza commented on #155
@matthewwardrop if I wanted to look into this myself, do you have recommendations on where in the code would be a good starting point?

[2016-12-08 10:41] Paul-Darius commented on #161
Do you mean you can not quit the preview in your terminal ?
-> Type "q", then y for "yes".

[2016-12-08 10:48] philipobrien commented on #161
![image](https://cloud.githubusercontent.com/assets/1763813/21007213/ddf22a36-bd33-11e6-96de-ed2021d90910.png)

Nothing happens whatever command I enter

[2016-12-08 18:42] NiharikaRay opened #163 "Grouping filters on /cluster don't work"
This is due to a bug with search params, trying to set `href` on a btn that doesn't exist on this index page.
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-08 18:43] NiharikaRay opened #164 "[Feature] Create a view where we see all posts in a specific folder"
I imagine this would be similar to the `tags` pages, but for folders. This was an internal feature request.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-08 19:29] earthmancash commented on #161
That's strange.. We usually kill it with Ctrl-C. I'll close this issue for now, but let us know if it comes up again.

[2016-12-08 19:29] #161 closed

[2016-12-08 19:30] earthmancash commented on #157
@koaning does the above solve your issue?

[2016-12-08 19:34] earthmancash commented on #155
@sryza what does your post look like? And is it all being written in the webeditor, or are you starting from RMarkdown / iPython?

[2016-12-08 19:36] earthmancash commented on #153
Fixed in https://github.com/airbnb/knowledge-repo/pull/160

[2016-12-08 19:36] #153 closed

[2016-12-08 19:37] earthmancash commented on #145
Fixed in https://github.com/airbnb/knowledge-repo/pull/158

[2016-12-08 19:37] #145 closed

[2016-12-08 19:38] earthmancash commented on #151
@cosenal are you still having this issue?

[2016-12-08 19:54] sryza commented on #155
@earthmancash I haven't used the webeditor.  The post is an IPython post with a few matplotlib-generated figures.

[2016-12-08 20:11] earthmancash commented on #109
@RMHogervorst Sorry that this fell through the cracks! Are you getting the same subprocess command from earlier in this issue still? If so, do you know what the `'R --vanilla --slave -e "library(knitr); setwd('D:\RmhDocs\Documents\docs\actief\knowledge-repo');                         x = knit('D:\RmhDocs\Documents\docs\actief\knowledge-repo\example_post.Rmd', 'C:\Users\roel\AppData\Local\Temp\tmpw

[2016-12-08 20:13] earthmancash commented on #94
Fixed here https://github.com/airbnb/knowledge-repo/pull/150

[2016-12-08 20:13] #94 closed

[2016-12-08 20:37] earthmancash commented on #155
Ok, so you're putting these iPython posts on a github repo, which the server box has locally when running the webapp? Can you tell me what the image link looks like in the knowledge.md on the git repo? Wondering if there's an issue with the path in there and where the image path is on the locally cloned git repo. (unless you're using an s3 like cloud service, in which case it's likely a different

[2016-12-08 21:37] cosenal commented on #151
I've just tried `master` and it works now :+1: Closing the issue, thanks!

[2016-12-08 21:37] #151 closed

[2016-12-08 21:52] #90 closed

[2016-12-08 21:53] earthmancash commented on #90
Solved here https://github.com/airbnb/knowledge-repo/pull/165

[2016-12-08 22:41] earthmancash commented on #163
fixed https://github.com/airbnb/knowledge-repo/pull/166

[2016-12-08 22:41] #163 closed

[2016-12-08 23:17] sryza commented on #155
@earthmancash I'm using the database knowledge repo, so the knowledge.md file and the image are stored as separate rows in the database.  The ref column for the image row has the value "images/output_22_1.png".  The image is referenced inside the knowledge.md as  `![png](images/output_22_1.png)`.

Does that answer your question?

[2016-12-12 18:09] earthmancash commented on #155
I think I understand. @matthewwardrop has more familiarity with what an iPython --> dbrepo setup should look like. Can you help Sandy out with where to look to debug the issue?

[2016-12-12 18:51] NiharikaRay opened #167 "[Feature Request] Have default reviewers for webposts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-12 18:52] NiharikaRay opened #168 "[Bug] Add `proxy=true` for proxy posts after click."
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-12 18:52] matthewwardrop commented on #155
Hi @sryza,

Many apologies for the delay here... All manner of things have been vying for my attention over the last couple of weeks.

The general flow of image rendering in knowledge posts is governed by `KnowedgePostProcessor`s, which detects if a "local" image (such as the uri you have given as an example) exists in the knowledge post, and then replaces the uri with a base64 encoded image uri.

[2016-12-12 18:52] NiharikaRay opened #169 "[Bug] Submit review for proxy post throws a path error"
`ValueError: Provided path '.' is outside of the knowledge repository.`
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-12 18:57] NiharikaRay opened #170 "[Feature] Have a better nesting structure for /cluster view"
Folders within folders should be nested.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2016-12-12 21:12] sryza commented on #155
Thanks for the guidance @matthewwardrop.  It looks like your suggestion is correct.  Both of those print statements print out empty lists.

However, if I print `list(post._dir())`, I get the following output:
[code]

It looks like the problem relates to the handling of the `parent` arg in `DbKnowledgeRepository#_kp_dir`.  That method prepends the post path to the parent, so, in my case, it queries

[2016-12-12 22:49] matthewwardrop commented on #155
I suspect that is probably the case :). Thanks for looking into this. The `DBKnowledgeRepository` has been far less tested than the `GitKnowledgeRepository` backend.

Do you want to put up a PR fixing it, or do you want me to do that?

[2016-12-12 22:51] matthewwardrop commented on #155
The way I'd imagine this working, btw, is to look up paths by joining the two fields; something like:

`SELECT data from posts where path|'/'|ref = {path}`

[2016-12-12 22:53] sryza commented on #155
@matthewwardrop I'm happy to work on a PR.  So, if I understand correctly, you're saying that the "images/" prefix should stay within the `ref` column?

[2016-12-12 22:58] matthewwardrop commented on #155
Yep. Posts are identified by their virtual path; and then there are named "references" for each post; which may include nested structure.

Looking forward to your PR.

[2016-12-12 23:49] sryza opened #172 "Feature request: posts that are viewable but not discoverable"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

We'd like semantics under which a post can be viewable but not discoverable.  I.e. one can pass around a link to a post, but it won't show up in the feed or in search results.  The use case is for work that's incomplete or under review - I'd like to be able to give someone a link at which they can view a post, but not add it to

[2016-12-13 00:07] NiharikaRay commented on #172
Hi @sryza! The first part of this functionality exists - a post can be viewed by only a subset of users, but it is "discoverable" - in that it can be seen on the search + feed page (but clicking on that post leads you a page that displays an error message).

Here is the PR + specific line that adds certain fields to the YAML headers: https://github.com/airbnb/knowledge-repo/pull/101/files#diff-341

[2016-12-13 01:50] sryza commented on #172
Thanks for the detail @NiharikaRay.  That sounds useful, but somewhat different than what we're looking for.  We haven't implemented logging in / authentication so far.  We're not really interested in restricting access to particular posts.  We just want to make sure that people don't stumble across work-in-progress and expect it to be production-grade analysis, or have drafts clutter search resul

[2016-12-14 15:04] koaning commented on #157
sorry for the late response. yes: this does solve the problem.

[2016-12-14 15:08] koaning commented on #156
So the form looks fine, but preferably the knowledge repo has a method to design a custom form for a certain team. I'll try to see if I can find a nice way to add that. fingers crossed.

[2016-12-14 20:44] earthmancash commented on #157
@koaning what do you think about the documentation we just added? https://github.com/airbnb/knowledge-repo/pull/175 Let us know if we can improve it more.

[2016-12-15 14:55] nathancomiskey commented on #141
+1 being able to add files to a knowledge post so they can be accessed from within the post would be really useful.

[2016-12-17 00:51] aruizga7 opened #177 "Put docker image in https://hub.docker.com"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

HI,

I would love to see knowledge-repo in Docker Hub so y can use Kitematic to quickly install it. Anyone could do that?

Thanks!

[2016-12-19 19:46] tom-christie commented on #109
I'm running into this issue on MacOS 10.12.  I run into this error when I run the R command directly:

    Warning message:
    package ‘knitr’ was built under R version 3.2.5
    Error in file(file, ifelse(append, "a", "w")) :
      cannot open the connection
    Calls: knit ... parse_all -> .handleSimpleError -> h -> cat -> file
    In addition: Warning message:
    In file(file, ifelse(append,

[2016-12-19 22:35] earthmancash commented on #109
@tom-christie can you tell me what exact R command you're using? Wondering what the path to your Rmd file looks like.

[2016-12-20 07:26] matthewwardrop commented on #177
Hi @aruizga7 !

Thanks for your enthusiasm! We will shortly be adding some Docker images, after which we can definitely set up the dockerhub images. No guaranteed ETA, but probably on the order of a month or less, depending on project priorities :).

M

[2016-12-20 08:07] matthewwardrop commented on #155
Fixed by your patch in #171. Thanks again!

[2016-12-20 08:07] #155 closed

[2016-12-20 08:08] #135 closed

[2016-12-20 10:15] Paul-Darius commented on #161
Ok, I understand his question now and I actually have the same problem.
Let's suppose I deploy the server in background mode, and then I close the shell.
How do I stop the server? Should I kill -9 the process or is there a way to properly stop it?
Ctrl-C is a solution only if the server is running in the current shell.

[2016-12-20 15:43] tom-christie commented on #109
Sure thing -

    Warning message:
    package ‘knitr’ was built under R version 3.2.5
    Error in file(file, ifelse(append, "a", "w")) :
      cannot open the connection
    Calls: knit ... parse_all -> .handleSimpleError -> h -> cat -> file
    In addition: Warning message:
    In file(file, ifelse(append, "a", "w")) :
      cannot open file '/tmp/tmpguhoqcyt': Permission denied
    Execution h

[2016-12-20 16:48] tom-christie opened #182 "Relocate CSS & HTML template"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I'm eager to use knowledge-repo internally at my company and would like to modify the CSS of the main page.  I found the CSS in the repo but it's buried deep in the Python package, meaning it'll be overwritten if I update the package.  Is there a recommended way to include custom CSS or template changes, or would it make sense

[2016-12-20 20:47] NiharikaRay commented on #182
Hi @tom-christie! You're correct - the CSS + templates are both included deep in the `static` folder in the Python package, but I'm not sure I quite understand when you say "would it make sense to move the CSS or HTML templates to the repo" - both of those are in the repository, in the `app/static` and `app/templates` folders.

I think in this case, it might actually make sense to have the CSS + t

[2016-12-20 22:08] tom-christie commented on #182
That makes perfect sense, yes! Sorry I wasn't clear about which repo - I meant to suggest that the CSS and templates could be in the _user's_ repository where they keep their knowledge posts.  But in general, having the paths be user-configurable would be fantastic. Thanks!

[2016-12-21 01:44] NiharikaRay commented on #182
Awesome! I've added the enhancement label, feel free to submit a PR to work on making this part of the configuration :)

[2016-12-26 21:39] kierson opened #183 "Seg fault 11 when accessing Web UI"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi!
I installed `0.7.4` through PIP by following official docs in the repo.
Then I initialized empty knowledge repo and run the WebUI:
[code]

I've got this in the shell:
[code]
so I found that I should open the browser on `localhost:7000`

After navigating to the web page it looked very ugly like no CSS was loaded. I checked s

[2016-12-26 21:59] kierson commented on #183
It is very interesting but when I access the app via `127.0.0.1:7000` it doesn't crash and it renders properly.
However I can go into this seg fault whenever I want to "like" the knowledge post in the WebUI.

[2017-01-03 20:47] depy opened #184 "A way to auto update a notebook?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Is there a way for a notebook to be updated regularly (on refresh, hourly, scheduled) or do I have to run the update command?

[2017-01-04 00:59] matthewwardrop commented on #184
Hi @depy,

Knowledge posts are a static file generated from the notebook source. As such, there's no way to have the automatically update themselves. If you want to update the notebook regularly, your best bet is to use a cron job to run the `knowledge_repo add` command on whatever time interval you desire. Note that knowledge repo does not run python notebooks before adding them, so you will have

[2017-01-04 01:01] matthewwardrop commented on #183
This is a very odd issue indeed. I'll try to reproduce this some time this week, and let you know :).

Thanks for submitting the bug!

[2017-01-04 08:40] depy commented on #184
Recently I used R markdown for the first time for some marketing experiment we did, so I had to update it every week to see how it's progressing and it's just hard to remember to do that to keep everyone happy. Especially if I had multiple ones.

So I'm just trying to find some tools where I could build a dashboard kind of a thingy with Python and R notebooks instead of the usual sql powered dashb

[2017-01-06 09:54] mobcdi commented on #184
@depy  maybe this video will give you some pointers https://youtu.be/aXR2d9k9-h4?t=11m8s its jupyter dashboards based off jupyter notebooks but without needing to share the underlying code

[2017-01-06 10:33] depy commented on #184
@mobcdi interesting... Thanks! :)

[2017-01-12 18:22] NiharikaRay opened #193 "Remove jinja code from JS in markdown-base.html"
In `markdown-base.html`, there's some jinja code in JS, which is non-optimal. The reason we do this is because we needed to know if something was a webpost or not, but we can do that without inserting the jinja in the JS (perhaps through using `data-is-webpost` attribute in the html, which can be `1` if it's a webpost, 0 otherwise).

Action items:
[] Remove jinja from JS
[] Use url_for for the but

[2017-01-13 19:56] jwnorman commented on #183
+1. Same process: `runserver`, navigated to `localhost:7000`, no CSS, segfault. Shell output:

[code]

Using python 2.7.8, Mac OS 10.11.6, knowledge repo 0.7.4

[2017-01-13 20:03] jwnorman commented on #183
So maybe it's because I didn't provide a server configuration file. If I run `knowledge_repo runserver --config server_config.py` (where `server_config.py` is just copied from [the one mentioned](https://github.com/airbnb/knowledge-repo/blob/master/resources/server_config.py) in the knowledge repo readme), the CSS loads fine and no segfault occurs.

[2017-01-14 00:19] matthewwardrop commented on #183
Apologies! Got caught up in other things... taking a look now.

[2017-01-14 00:28] matthewwardrop commented on #183
Interesting. I cannot reproduce this here using:
 - Python 2.7.13
 - knowledge_repo 0.7.4
 - Mac OS X 10.12.2

[code]

@kierson @jwnorman Do either of you see the problem disappear if you simply use `deploy` instead of `runserver`? And do you see any further information by adding `--debug` to the list of arguments passed to `knowledge_repo` (i.e. `knowledge_repo --debug --repo ....`)?

[2017-01-14 00:35] matthewwardrop commented on #183
I repeated the above process with Mac OS X's system python (version 2.7.10), but again had no issues.

[code]

[2017-01-15 18:33] jkradddic commented on #177
Hi!

Any update on Docker specs? I'm happy to help or test.

Thanks!

[2017-01-16 14:19] gnatamania commented on #133
If it's possible to get this to work on windows I would love to see some documentation on this! I've been trying to step through the code and fix myself to no avail :(

[2017-01-17 17:44] jwnorman commented on #183
If I used deploy, it worked fine. I'll try the --debug and let you know.

[2017-01-19 13:51] retroam opened #202 "No such column error when running web app"
Have been getting this error when running the web app:

sqlalchemy.exc.NoSuchColumnError
NoSuchColumnError: "Could not locate column in row for column '0'"

Can't figure out where the bug resides and been following the documentation closely

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-01-21 00:21] earthmancash commented on #202
Hey @retroam! Sorry to hear that you're running into trouble. Can you paste the command you're using to run the application? And can you try running it with the --debug flag after the --repo's and paste the full output? Hopefully that'll give us some more info to help you out.

[2017-01-21 00:55] tkinz27 opened #203 "Index boolean assumptions different between sqlite and postgres"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

While trying to run the knowledge repo with postgres as the backing database we kept getting this backtrace.

[code]

We made a quick fix below to get past this issue, but were not sure it was the best solution so we haven't created a pull request directly.

[code]

[2017-01-27 07:30] matthewwardrop commented on #203
@tkinz27 Many apologies for the delay! We had a big company conference a week back, and it set us behind in responding to these issues. Many thanks for passing on these errors to us!

We have in several cases inadvertently used SQL that is idiomatic to MySQL and SQLite, especially where it comes to the equivalent of boolean types with integers. I'll submit a patch with your fixes in the next day o

[2017-01-27 07:32] matthewwardrop commented on #183
@jwnorman Any luck?

[2017-01-27 15:30] retroam commented on #202
Sorry for the delayed response @earthmancash ... running the following command:

`knowledge_repo --debug --repo {git}ds_knowledge/ runserver`

get the following error:

Thanks for your help!

[2017-01-27 22:28] danfrankj opened #208 "Author subscription"
Add ability to subscribe to specific authors.

[2017-02-06 21:31] NiharikaRay opened #214 "Date not showing up in comments"
![screen shot 2017-02-06 at 1 29 10 pm](https://cloud.githubusercontent.com/assets/4268311/22667184/92c30f64-ec70-11e6-92aa-319b381fc4cd.png)

[2017-02-06 22:11] NiharikaRay commented on #214
This has been fixed: https://github.com/airbnb/knowledge-repo/pull/215

[2017-02-06 22:11] #214 closed

[2017-02-08 15:05] bdoohan commented on #133
@matthewwardrop I have come across the same issue, seeing "ImportError: No module named 'fcntl'" when I try to preview my post. Has anyone developed a fix for this?

[2017-02-08 16:49] dsimmie opened #217 "NameError in post preview"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I am hitting a problem when running the quick start. Specifically on the preview command:

`knowledge_repo --repo ./example_repo preview project/example_ipynb`

**Issue**:

* Running preview fails with the following error: `NameError: name 'raw' is not defined`

**Location**:

The offending line is in `app/routes/posts.py`

Lin

[2017-02-09 05:42] NiharikaRay commented on #217
Good catch! Here is the corresponding PR: https://github.com/airbnb/knowledge-repo/pull/219

[2017-02-14 04:31] victor-vazquez opened #223 "/tag_pages has not pagination"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hello,

I'm not sure if this is in an existing issue, but I'm pretty sure /tag_pages doesn't have pagination. I would like to filter by a specific tag and read all of the posts related to it.

[2017-02-14 05:35] matthewwardrop commented on #223
Thanks @victor-vazquez . Likely this is a result of the recent pagination rewrite, I'll make sure this gets fixed :).

[2017-02-14 21:57] #223 closed

[2017-02-14 21:58] #217 closed

[2017-02-14 21:59] matthewwardrop commented on #193
This is fixed by the recent pagination commits. Yay!

[2017-02-14 21:59] #193 closed

[2017-02-14 22:01] #129 closed

[2017-02-14 22:04] matthewwardrop commented on #157
@koaning Closing for now. I think the main issues reported here have been dealt with. Feel free to reopen this issue if things remain unclear, or more needs to be done :).

[2017-02-14 22:04] #157 closed

[2017-02-14 22:07] matthewwardrop commented on #82
Looks like this was fixed a while back :).

[2017-02-14 22:07] #82 closed

[2017-02-14 22:07] matthewwardrop commented on #91
I think the issue in this post has been addressed. Closing!

[2017-02-14 22:07] #91 closed

[2017-02-15 14:12] bdoohan commented on #133
@matthewwardrop @earthmancash To follow up, I have come across the same issue, seeing "ImportError: No module named 'fcntl'" when I try to preview my post. Has anyone developed a fix for this?

[2017-02-15 18:19] matthewwardrop commented on #133
@bdoohan This is fixed in #225. Whenever the deployment code was run, it would trigger this fault due to Gunicorn only supporting POSIX platforms. There was a related bug for the "create" action, which did not terminate the knowledge_repo script after a successful template creation, triggering the above bug also.

[2017-02-15 18:20] matthewwardrop commented on #133
@gstoel @RMHogervorst @gnatamania Apart from the bug fixed above, are there any other issues that you experience?

[2017-02-15 18:51] matthewwardrop commented on #109
@RMHogervorst @Jim89 Is this still an issue? I plan to solve this within the next day or so :). It's about time!

@tom-christie It looks like your error is a different one. If you are still having trouble with it, can you open a new issue and I'll try to resolve it in the next few days!

[2017-02-16 09:08] gstoel commented on #133
@matthewwardrop I will retry the installation later this week... will get back to you with details or other issues.

[2017-02-16 10:25] RMHogervorst commented on #133
I will try the installation today and report back @matthewwardrop

[2017-02-16 10:26] RMHogervorst commented on #109
checking today @matthewwardrop [2017-02-16]

[2017-02-16 10:34] RMHogervorst commented on #109
I've updated knowledge repo with pip install  --upgrade knowledge-repo

But I get the following errors

(Ive replaced some paths)
[code]

I might try a new installation of python or perhaps some virtual environment because it keeps thworing errors in my windows installation.

[2017-02-16 11:30] tinastefaniewenzel opened #226 "Error reproducing examples"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I went through the example in the documentation but the example_post.Rmd or example_post.ipynb do not get displayed at all.

All previous steps work, but when trying:
`knowledge_repo --repo . preview project/example`

, the app starts at http://127.0.0.1:7000/post/project/example.kp
and prints out to console:

[code]

But the b

[2017-02-16 11:51] gnatamania commented on #133
@matthewwardrop I will try out a clean install next week and get back to you. Really looking forward to getting this to work :)

[2017-02-16 23:01] matthewwardrop commented on #109
@RMHogervorst @Jim89 This should now be fixed in #228. Will close this issue once it is merged into master.

[2017-02-16 23:05] matthewwardrop commented on #226
Hi @tinastefaniewenzel!

Thanks for reporting in!

The currently released version of the Knowledge Repo on PyPI has a bug in the preview command. This has been fixed as of the current master, which will be released as a new version in the near future. In the short term, you can run:

`pip install git+https://github.com/airbnb/knowledge-repo.git#egg=knowledge_repo`

This will install the current ma

[2017-02-16 23:05] #226 closed

[2017-02-16 23:30] matthewwardrop commented on #133
@gstoel @RMHogervorst @gnatamania As of today, we now do continuous integration testing against Windows too; so we should be protected against inadvertently breaking the Windows build in the future. Additionally, I've fixed everything that I found breaking the Windows build, and we now pass the continuous integration suite.

[2017-02-16 23:39] #109 closed

[2017-02-16 23:42] matthewwardrop commented on #83
@ghost This works now (and has for a while :)

[2017-02-16 23:52] tinastefaniewenzel commented on #226
👍 It works. Many Thanks!

[2017-02-17 01:07] matthewwardrop commented on #203
@tkinz27 This is now fixed by #229.

[2017-02-17 01:07] #203 closed

[2017-02-17 01:17] matthewwardrop commented on #202
Hi @retroam. I cannot reproduce this locally. Can you try installing git master and trying again?

`pip install --upgrade "git+https://github.com/airbnb/knowledge-repo.git#egg=knowledge_repo"`

If you still get the error, let me know! I'd like to fix this before rolling out the next version.

[2017-02-20 02:19] tkinz27 opened #231 "Support for external user authentication"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I want to integrate the knowledge repo with our internal identity services (ldap and saml) such that we can control access to certain posts (although we would like all authenticated users to be able to discover the posts and read the TLDR field which I think is how the private field works today).

I believe the expected configu

[2017-02-20 17:38] matthewwardrop commented on #231
Hi @tkinz27!

Thanks for getting in touch, and for your interest in using the knowledge repo!

You're quite right... we don't currently use `AUTH_GROUP_REQUEST_HEADER` anywhere, and our current group mechanism is decoupled from LDAP in order to provide a more flexible approach to defining access roles. This allows you to define less corporate groups such as "people who have opted to join a particu

[2017-02-20 18:55] tkinz27 commented on #231
Hey @matthewwardrop

First thanks for the quick response. You guys are really responsive.

A Skype/Hangouts meeting would be great. I'm going to be out most of this week, but available next week if that works for you guys.

The jupyterhub model is essentially just a base class interface. You then write custom "Authenticators" which are just pip packages that inherit from the auth base class. In co

[2017-02-23 00:13] matthewwardrop commented on #231
Let's schedule a time for next week :). Send me an email at matthew.wardrop@airbnb.com!

[2017-02-23 15:18] retroam commented on #202
@matthewwardrop issue still there. might be something wrong with my local settings.

[2017-03-01 14:50] gabceb commented on #136
Any updates on this? Having docker images would make adoption of this great tool a breeze

[2017-03-06 08:14] RMHogervorst commented on #133
It works on windows! (version 0.7.6)
Running the example (starting with a clean folder, and adding a rmarkdown file ) .

There is one problem: images are created, but not linked to in the preview.

I did notice that images are placed in `figure` in my folder, and the website searches in `images`:

`<p><img alt="plot of chunk unnamed-chunk-1" src="images\unnamed-chunk-1-1.png" /></p>`

[2017-03-06 18:47] matthewwardrop commented on #133
@RMHogervorst Ah! Looks like the paths are using Windows style paths instead of the standard path format (i.e. using '\' rather than '/' as the path separator). I bet that's the issue.

In the generated knowledge post folder, is there an 'images' folder with all the images?

[2017-03-06 18:51] matthewwardrop commented on #136
Hi @gabceb. Sorry! Not yet. There's been so many other issues that we've been working through, that this has been left behind. I also need to look into the standard way of handling site-specific configuration in Docker images. We'll get there!

[2017-03-06 18:53] RMHogervorst commented on #133
in the final repo there is indeed an images folder and a orig_src folder. The md file has
this link
`![plot of chunk unnamed-chunk-2](images\unnamed-chunk-2-1.png)`

[2017-03-06 19:52] gabceb commented on #136
Thanks for the reply @matthewwardrop. I recently helped deploy this in our internal dokku/docker box and was able to do so with some hacks due to the way is implemented. The hack was mostly around the fact that the code wants to git pull and if the folder is not a git repo it throws errors and dies. I did figure out later if the folder IS a git repo but it cannot pull either due to connection or s

[2017-03-06 22:02] matthewwardrop commented on #133
Yep... that's the problem then. I'll submit a patch for this soon :).

[2017-03-07 18:43] danfrankj commented on #168
@NiharikaRay can you add more detail to this bug? Which click are you referring to?

[2017-03-07 18:52] danfrankj commented on #169
This now returns a more informative error
![image](https://cloud.githubusercontent.com/assets/616139/23672662/32b43092-0324-11e7-936b-334c27269f7e.png)

[2017-03-07 18:53] danfrankj commented on #169
@NiharikaRay I think this is solved - please reopen if not

[2017-03-07 18:53] #169 closed

[2017-03-10 02:42] danfrankj opened #236 "Squashing commits fails silently"
`knowledge_repo add --update  --squash ~/path/to.ipynb -p my/path.kp`

I think we need a forced git push here

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-03-10 02:43] danfrankj opened #237 "Add and submit with path in post fails"
[code]
fails to find the path in my.ipynb

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-03-10 04:43] matthewwardrop commented on #236
Yeah... my bad. I've been aware of this for a while, but put it off since I want to rewrite the Git backend a bit. I'll look into this when I can :).

[2017-03-10 04:44] matthewwardrop commented on #237
The path is found without the `--submit` option?

[2017-03-10 16:07] bmabey opened #238 "support for javascript within a post"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Nearly all of our IPython notebooks use [Bokeh](http://bokeh.pydata.org/en/latest/) which will load some custom javascript. When the notebook is rendered to markdown the JS loading gets lost in translation and the inserted HTML by bokeh is rendered as a code block:

![image](https://cloud.githubusercontent.com/assets/1837/23802

[2017-03-10 17:01] sixers opened #239 "Jupyter extension for managing knowledge posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

It would be cool to integrate with Jupyter, and to be able too add and submit posts directly from the browser. What do you think about it?

[2017-03-13 05:41] matthewwardrop commented on #239
@sixers I really like this idea :). The submission part could be gnarly (due to authentication and the like), but exporting directly to a standalone knowledge post format which can be directly imported into a knowledge repository makes a lot of sense. I'm going to be adding this independent format soon, so I'll think about this after that :).

[2017-03-13 05:42] matthewwardrop commented on #238
Thanks for reporting this! We weren't fully aware of this. We'll look into this soon :).

[2017-03-14 10:49] koaning opened #242 "[Feature Request] text search"
Currently it is not possible to search based on the text in the `.md`,`.Rmd`, `.ipynb` document. To facilitate this you may want the backend to be written in elasticsearch. I am wondering if this will ever be a feature/if it is feasible.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-03-14 16:42] matthewwardrop commented on #242
Hi @koaning! We've so far been focussing on other things, but more complete search functionality is definitely on the roadmap. We are concerned about adding too many infrastructure dependencies and so may not adopt elastic-search, per se; but we are definitely interested in making post metadata and content more searchable. Watch this space!

[2017-03-14 18:43] koaning commented on #242
Out of curiosity, if not elastic ... what other tool might help facilitate this? Keep a seperate tf/idf table into something SQL-like?

[2017-03-16 11:58] rene-giretzlehner opened #243 "Rendering posts with embedded images is very slow"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

we are running knowledge-repo in our company since a few weeks on a server and are facing issues with high cpu load and very slow response times when clicking on a knowledge post the first time. It takes up to 20sec to render the post. During this time the CPU is up to 100%. When clicking on the post a 2nd time - it's fast as y

[2017-03-17 04:19] matthewwardrop commented on #243
Hi @rene-giretzlehner ! Thanks for reporting this issue to us!

When the knowledge-repo starts up, it creates/updates an index database for the posts. If you do not specify a path for this index, it creates the index in-memory. I suspect that that is happening is that you have not specified a path, so every time it restarts it needs to recreate this index.

Can you confirm that this is the case?

[2017-03-20 14:26] rene-giretzlehner commented on #243
We have configured the database via server_config.py
`SQLALCHEMY_DATABASE_URI = 'sqlite:////home/deep/knowledge.db'`
and startup the server with
`knowledge_repo --repo {magic}/home/deep/deepthought --repo {webposts}sqlite:////home/deep/dbrepo.db:mypostreftable runserver --config server_config.py --port 80`

So the database grows over time and viewcount etc. updates. But on every server restart the

[2017-03-20 18:29] matthewwardrop commented on #243
@rene-giretzlehner Hmmm... I think I understand what is going on here. Currently, the database sync is triggered if it has been more than 5 minutes since the last index and the data repository has changed since its last update. The SQLite database does not support threading, and so when using an SQLite database to store the index metadata, updates are done synchronously. There are improvements in

[2017-03-20 19:44] pavopax opened #245 "[quickstart] create example post creates it in bad dir"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

(Also see #244)

I'm following the quickstart in master repo. The create post command seems to create the file in wrong location. Instead of:

`knowledge_repo --repo ./scientific-knowledge create Rmd example_post.Rmd`

... I need to type:

`knowledge_repo --repo ./scientific-knowledge/ create Rmd ./scientific-knowledge/example_

[2017-03-21 08:23] rene-giretzlehner commented on #243
Thanks for your feedback - I'll give a MySQL a try and let you know if this resolves our issues!

[2017-03-22 18:24] matthewwardrop commented on #245
Hi @pavopax

Thanks for getting in touch about issues you're having with the knowledge repository!

In this case, the behaviour your are experiencing is the intended behaviour (though I admit it's probably a little confusing and we're working on it).

The `create` command creates a template ipynb/Rmd/md file which you can edit locally. The only difference between these files and any other file is

[2017-03-23 05:55] pavopax commented on #245
Yes, got it to work. I think it would help if it was streamlined, so effort there will be appreciated!

Looking forward to seeing the progress!

[2017-03-23 16:22] rene-giretzlehner commented on #243
Short update - it got worse ;-)

I installed MySQL and start the server now with this command:
`sudo knowledge_repo --repo {magic}/home/deep/deepthought deploy --config server_config.py --port 80
[2017-03-23 17:17:43 +0000] [9254] [INFO] Starting gunicorn 19.7.0
[2017-03-23 17:17:43 +0000] [9254] [INFO] Listening at: http://0.0.0.0:80 (9254)
[2017-03-23 17:17:43 +0000] [9254] [INFO] Using worker:

[2017-03-23 21:00] matthewwardrop commented on #243
@rene-giretzlehner Whoops! Well... that wasn't supposed to happen!

There is one other issue which I know of that we have suffered from internally, which was a result of merging https://github.com/airbnb/knowledge-repo/pull/229. It seemed to increase server load significantly, but I've yet to find anything wrong with it (and without it, postgres and other databases don't work). I'll take another l

[2017-03-23 21:01] matthewwardrop commented on #245
Excellent! Thanks @pavopax! There are some improvements incoming, but I look forward to your future comments as they eventuate :).

[2017-03-23 21:01] #245 closed

[2017-03-24 23:02] rtjohn opened #248 "Clarify update arguments"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Can you update the documentation to clarify the nature of the arguments to add with the --update flag?
[code]
Results in:
[code]

I'm trying to update the file
[code]

I've already edited the file in place and now I want to add and submit the update.  I tried numerous versions of the second argument but continue to get the same

[2017-03-25 16:56] matthewwardrop commented on #248
Hi @rtjohn!

To get help about the `add` method, you can use:
`knowledge_repo --repo <repo> add --help`

In your case, the correct command should be:
`knowledge_repo --repo <repo> add GitHubConnection.Rmd -p Instructions/Github`

Note that it is a bad idea to actually do your editing of documents within the git repository, since the `knowledge_repo` command manipulates git branches pretty frequent

[2017-03-25 16:56] #248 closed

[2017-03-27 08:07] rene-giretzlehner commented on #243
I downgraded to 0.7.5 - still the same issue :-) High CPU load on each post pageview.
Do you have any other idea what this could cause?

[2017-03-27 15:14] rtjohn commented on #248
Just to clarify for other who might read this:

[code]

is what worked.  Matthew did not include the --update flag in his instructions (probably an oversight) above which is what I was asking for clarification on.

[2017-03-27 21:27] Joaquimdcp opened #249 "Login System"
Hi!

Can I use a users system with knowledge-repo(login system)?

Thanks a lot!

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-03-28 03:36] matthewwardrop commented on #249
Hi @Joaquimdcp!

We're yet to have a working authentication system apart from having the headers added by some proxying agent... but work will soon begin on it. For now let's track this in #231.

Thanks so much for your interest in knowledge-repo :).

[2017-03-28 03:36] #249 closed

[2017-03-28 03:38] matthewwardrop commented on #243
@rene-giretzlehner No clue. I'll look into this. Thanks so much for being patient throughout :).

Out of curiosity, how many posts do you have in your knowledge repo system? [So I can reproduce the same potential load issues here].

[2017-03-28 15:36] rene-giretzlehner commented on #243
haha...not so many right now - we just started testing / playing around with it - but want to use it for all our knowledge posts from datascience & engineering perspective in future (for that - it really has to run smoothly).

So it's 7 posts containing images - that's it :-)

[2017-03-28 15:39] matthewwardrop commented on #243
@rene-giretzlehner Hmmm... one idea remains. How large are the images in the knowledge posts? At the moment these images are base64 encoded, so if the images are huge, perhaps that could be a related issue.

I'll look into this soon :).

[2017-03-29 07:19] rene-giretzlehner commented on #243
a usual post contains 10-20 images (png) each between 30kb-45kb.

[2017-03-29 08:41] rene-giretzlehner commented on #243
we did a test without images in the post - renders super fast :-) so the root-cause seems to really be the images. is there anything we can do?

[2017-03-29 15:19] matthewwardrop commented on #243
@rene-giretzlehner Ah! I think we're getting closer to understanding it :). One final question before I have everything I need to know: is it slow only for posts stored in the sqlite database? If so, if you instead you use a mysql database for the posts, do these issues disappear? [I'd be cautious about using sqlite databases for posts, since they only support single threads, resulting in locking

[2017-03-30 06:37] rene-giretzlehner commented on #243
I changed to MySQL as you suggested already last week, but it did not improve the behaviour - so no SQlite db in use anymore on our system.

`sudo knowledge_repo --repo {magic}/home/deep/deepthought deploy --config server_config.py --port`

having this db config in server_config.py
`SQLALCHEMY_DATABASE_URI = 'mysql://deep@localhost/knowledge'`

[2017-03-30 19:17] matthewwardrop commented on #243
Ah.... so no more webposts either! Right, well... I'll go away and try to figure this out.

The reason we probably haven't seen this internally is that we upload all images to an S3 bucket prior to adding the post to the repository, and hence images are not embedded in the repository. The recipe for doing this is to add use "https://github.com/airbnb/knowledge-repo/blob/master/resources/extract_im

[2017-04-02 02:40] #202 closed

[2017-04-02 02:41] matthewwardrop commented on #202
@retroam Was this sorted?

[2017-04-03 18:26] Sundar0989 opened #250 "pandas.formats.style.Styler - Ipynb notebooks not working with Knowledge repo"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi,

Thanks for this awesome product. I work with Data scientists and this tool is really useful to share the codes and outputs within our team.

Recently, I tried to push a ipynb document which contains Pandas dataframe with styler formats (pandas.formats.style.Styler). When I run them, I can see the outputs formatted nicely,

[2017-04-03 20:42] danfrankj commented on #250
Hey @Sundar0989 - thanks for your report. We've also run into this issue and have reported it to the pandas team. See issue: https://github.com/pandas-dev/pandas/issues/15651. They're planning to fix it in their next release. In the meantime, I've wrapped my styled dataframes with the following code.

[code]

Which should fix things until the next pandas release.

Hope that helps!
Dan

[2017-04-04 18:33] danfrankj commented on #250
Closing - but feel free to re-open if you have questions

[2017-04-04 18:33] #250 closed

[2017-04-04 20:30] Sundar0989 commented on #250
Thank you. It worked..

[2017-04-05 18:17] oanise93 opened #251 "Running the Web App from Directory"
I just cloned the repo and am attempting to put an oauth workflow in the app. How would I go about running the web application from the directory containing the cloned code?

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-04-05 22:58] matthewwardrop commented on #251
Hi @oanise93!

Great! We've been meaning (and still plan) to integrate better authentication choices into the knowledge repo, so it will be interesting to see how you go about it; and perhaps we can learn from it as we develop a generic solution.

The simplest way to bring up the development webserver is:
`knowledge_repo --debug --dev --repo <repo> runserver`
By default this will bring up a server

[2017-04-06 00:53] oanise93 commented on #251
Thanks for the prompt reply. That's all I needed!

[2017-04-06 00:53] #251 closed

[2017-04-07 13:25] drorata opened #252 "Unable to install knowledge-repo inside a container"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I am trying to install `knowledge-repo` inside a container. To that end, I started a new container:

[code]

Next, I tried to install the tool: `pip install  --upgrade knowledge-repo[all]`. This ended with the following error:

[code]

I am not even sure the problem is within the scope of this repository. I'll be happy to provi

[2017-04-10 15:31] redyaffle opened #254 "XSS vulnerabilities in comments marked as safe"
Since all comments are marked as safe in `markdown-rendered.html`, someone could write Javascript as a comment and it gets interpreted as raw JS, opening up an XSS vulnerability. It seems like this is done so comments can be written in markdown, possibly for LaTeX as well (though removing `|safe` still seems to render LaTeX correctly). Do you consider the XSS vulnerability a problem? Would you acc

[2017-04-11 20:01] matthewwardrop commented on #254
Hi @redyaffle,

I suspect that this is just one in a myriad of security vulnerabilities that exist throughout the knowledge repo codebase. In the past, this was not considered to be a particularly serious problem, since we internally used the knowledge repo in a trusted computing environment, but as it grows and matures, this sort of thing will be a big deal. I haven't yet personally reviewed much

[2017-04-11 20:06] matthewwardrop commented on #252
Hi @drorata,

Thanks for reaching out and for your interest in the knowledge repository!

We internally install knowledge-repo into a docker container (without using anaconda), and our Travis CI tests do the same thing (with anaconda)  and I know others have had some success too... so I don't think this is a generic issue.

If I had to take a stab, I'd say the issues you're experiencing above are

[2017-04-13 18:34] NiharikaRay opened #255 "Add favicon!"
Self explanatory

[2017-04-14 18:51] drorata commented on #252
This still doesn't really work for me. I tried to start with a cleaner image, namely `ubuntu`. Here are the steps I took:

[code]

This ended again with the following error:

[code]

[2017-04-15 21:40] #118 closed

[2017-04-15 22:00] matthewwardrop commented on #243
@rene-giretzlehner I pushed a fix that I think should address at least part of this in #256. I did some profiling of the knowledge repository and it seems like its actually the code highlighting that was taking a long time. Can you confirm that this improve things?

[2017-04-15 22:04] matthewwardrop commented on #238
Should be fixed in #256. Tested with Plotly, and everything looks good. If this still doesn't work for you @bmabey, please reopen the issue :).

[2017-04-15 22:04] #238 closed

[2017-04-19 14:23] rene-giretzlehner commented on #243
@matthewwardrop we tested the fix - didn't help in our case. anything we could test further?

[2017-04-19 17:36] Joaquimdcp opened #257 "Add support for responsive HTML"
Hello!

Is Knowledge-Repo responsive? (Can I use it on mobile phone?)

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-04-19 17:48] matthewwardrop commented on #257
Hi @Joaquimdcp!

Not yet! I'm working on it though! I have some local patches that are coming along. Should land reasonably soon, since it's blocking some other things we want to do.

Watch this space.

[2017-04-20 19:25] matthewwardrop commented on #243
@rene-giretzlehner Not at this stage. Will try some more profiling of various different cases (previously I dealt with ~20-50 plots in a post, which I thought would emulate your setup). What might help is if you can provide a sample knowledge post (appropriately censured) for which you experience the slow-downs. I can then use that in my profiling runs to make sure I deal with the issue you are ex

[2017-04-24 15:17] Joaquimdcp opened #258 "Change HTML"
Hi!

How I Can change HTML of knowledge-repo?

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-04-25 15:57] Breaka84 commented on #243
Hi @matthewwardrop,

I'm sending you an example post as substitute for @rene-giretzlehner  :-)
Please find the source files at https://github.com/Breaka84/knowledge-repo/tree/plotly_md_test/tests/test_posts/slow_rendering
This post takes about 25 to 30 seconds to initially load after a server restart.

Small hint, if you have the r plotly package not yet installed:
I needed to additionally install

[2017-04-25 19:11] matthewwardrop commented on #243
Thanks @Breaka84! I'll see if I can get to the bottom of this soon.

[2017-04-29 05:13] matthewwardrop commented on #243
@Breaka84, Even with your post, everything is snappy in the knowledge repository here... so I'm not quite sure what is going on. If you give me a profiling dump, then I may be able to get to the bottom of this. Can you try running the following, and send me the generated 'perf.prof' at matthew dot wardrop at airbnb dot com? Note that paths are shared as part of this profile, so double check to mak

[2017-05-02 16:58] matthewwardrop commented on #258
Hi @Joaquimdcp ,

Thanks for your questions!

At this stage we have not added support for site-specific customisation of HTML/CSS. This is for two reasons:
- the html is far from complete, and hence every release is liable to break any custom html/css overrides.
- we have been working on "bigger" things.

If this is really important to you and/or others, we can bump this to a higher priority. This

[2017-05-02 16:58] #258 closed

[2017-05-05 15:18] Breaka84 commented on #243
Hi @matthewwardrop,

thank you for the code!
I presume `p.runcall(client.get, '/post/slow_post/plots.kp')` should be `response = p.runcall(client.get, SLOW_POST_PATH)` ?
I run it today but the total time is below 1 second (0.751 seconds) :confused:
A `curl | wget localhost/post/slow/post.kp` on the server itself gave me over 20 seconds for each call...
I don't think it makes any sense to send you

[2017-05-09 00:33] bmabey commented on #238
Thanks @matthewwardrop!

Are there any docs on how to get up and running on `master` so I can try this out? I've tried using pip install  git+https://github.com/airbnb/knowledge-repo.git` and `python setup.py install` but both result in `knowlege_repo` script in an un-runnable state. I get following message when I try to run it:

[code]

Any thoughts?

[2017-05-09 04:45] matthewwardrop commented on #238
Hi @bmabey,

This is an odd error, but if worst comes to worst you can do: `./scripts/knowledge_repo` within the checkout out knowledge-repo git repository. I wonder if this has something to do with anaconda? You could also try installing it into a virtual environment too :).

[2017-05-09 21:17] bmabey opened #260 "images are not fully committed with repos using LFS"
Auto-reviewers: @NiharikaRay arikaRay @matthewwardrop @earthmancash @danfrankj

When I add a post that has `git-lfs` enabled for images the images added by the `knowlege_repo` script are not fully committed to the repo. This example will illustrate what I mean and should enable you to reproduce the issue:

First setup a new repo and turn LFS on for PNG images:

[code]

Then add a post that has an

[2017-05-10 16:10] matthewwardrop commented on #260
Hi @bmabey ,

Thanks for reporting this! Hitherto, we have done no work with LFS repositories, and so it isn't very surprising that there are issues like this. LFS support makes a lot of sense though, especially now the process is a lot more streamlined than once it was.

I'll look into this when I can. I suspect there may be some complexity in supporting this due to limitations in gitpython, but

[2017-05-10 16:35] bmabey commented on #260
It isn't a blocker but it may effect my team's opinions of KR during our evaluation period so I'd ideally like to address it in some fashion. Can you think of a workaround, if even a quick hack, that I could try in my fork during our evaluation? I essentially need to run `git commit -a --am --no-edit` after the current commit logic but I didn't know how to do that with gitpython.

[2017-05-10 17:37] matthewwardrop commented on #260
Sure thing. I'll look into it today. :)

[2017-05-10 21:08] tarsisazevedo opened #261 "unicode support for headers"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

It's not possible to have unicode chars in headers. It's important to have it for non-english posts.

stacktrace:
[code]

[2017-05-10 22:46] Joaquimdcp opened #262 "Hard Slow"
Hi my Knowledge is hard slow!

I use it in my local server, with only two posts. And It's very very slow.

Please, anyone cal cap me?
Thank you
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-05-10 23:12] matthewwardrop commented on #262
Hi @Joaquimdcp ,

Thanks for reporting this! This is a duplicate of #243, which we're working on resolving. So far, I've been unable to reproduce the slow-down locally, so if you can provide your system configuration in this other thread, that may be helpful.

Thanks again!

[2017-05-10 23:12] #262 closed

[2017-05-10 23:13] matthewwardrop commented on #261
Thanks for the issue report! I suspect this is simply due to over-zealous format checking. Will submit a fix in the next day or so.

[2017-05-12 11:55] ymwdalex opened #265 "Add a bar chart to show the number of posts per author"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Dear knowledge-repo contributors,

I would like to add a bar chart to show the number of posts per author as shown in the attached figure.

![screen shot 2017-05-12 at 1 52 54 pm](https://cloud.githubusercontent.com/assets/1458656/25997026/78a6f542-371a-11e7-8d65-71aea09f2166.png)

It is a rather simple change. And I would like

[2017-05-14 18:27] ymwdalex commented on #265
Pull request is merged. Close this issue. https://github.com/airbnb/knowledge-repo/issues/265

[2017-05-14 18:27] #265 closed

[2017-05-17 15:26] redyaffle commented on #231
@tkinz27 @matthewwardrop Can you share your outcomes? We're looking to configure access with SAML and I'm not sure how to pass the right information through to Knowledge Repo.

Thank you!

[2017-05-17 17:16] matthewwardrop commented on #231
Hi @redyaffle!

Authentication beyond setting the knowledge repo server up behind a proxy (such as nginx) is not yet supported. If you do want to set it up behind a proxy, you simply need to populate the header pointed to by the `AUTH_USERNAME_REQUEST_HEADER` server configuration variable.

Proper integration for authentication directly into the knowledge repository is planned, and at this stage (

[2017-05-19 19:40] dhango opened #269 "Rendering widgets from ipywidgets in posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi! I'm trying to render an interactive textbox via ipywidgets with the following code.

[code]

The textbox appears in my notebook but does not appear in the knowledge repo. When I print the text object I get

even though nothing is rendered. The curious thing is that when I look at the raw markdown tab, nothing is printed out

[2017-05-22 14:18] patwater opened #270 "Better co-ordinate public disclosure of companies using the Knowledge Repository"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi is there a list of non-Airbnb users utilizing the knowledge repo?  Apologies if obvious though not seeing it.  Thinking something simple similar to: https://github.com/apache/incubator-airflow

Love the project btw!  We've been scheming on how to incorporate into our water data work and academic partnerships with http://cali

[2017-05-23 05:38] matthewwardrop commented on #270
Hi @patwater ,

We do have a file in our repository which we intended for people to use to report their usage of the Knowledge Repo in their organisations (https://github.com/airbnb/knowledge-repo/blob/master/INTHEWILD.md), but that hasn't seen a whole lot of traction. We know of several companies exploring and/or using the knowledge repo, but unfortunately we don't have a centralised place where

[2017-05-24 15:42] shashj199 opened #271 "Data Backup or Embedding data in Knowledge Repo"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi Guys,

I was wondering if I can somehow integrate data associated with Jupyter notebook in the knowledge repo. I am testing knowledge repo but I don't see how we can do that.

Thanks for your help

[2017-05-24 16:01] matthewwardrop commented on #271
Hi @shashj199 !

Currently this can be done using:
`knowledge_repo ... add ... --src <src files separated by spaces>`

This is a little clunky though, and so soon I am planning to add support for specifying the source files in the post metadata, something like:
[code]
whereupon these files will be included in the knowledge repo along with the post content. Should be done by end of June.

I'll keep

[2017-05-24 16:37] shashj199 commented on #271
Oh thanks, this will be game changing 👍 . But can this be connected to cloud like S3 and similar to what you have done for images. May this might be too much.

Thanks again

[2017-05-24 17:04] shashj199 opened #272 "Not able to run Knowledge repo in Mac El Capitan virtualenv"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hey,

I'm not able to run Knowledge repo on a Mac system. I installed knowledge repo in a virtual environment with python 2.7. I ran the following command

knowledge_repo --repo 454_repo/ preview 454_repo/project/454_ipynb.kp/

I got the following error:

Traceback (most recent call last):
  File "/Users/shashank/Envs/knowledge

[2017-05-24 21:54] tomsing1 opened #273 "Help needed to configure the extract_images_to_s3 postprocessor"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Thanks a lot for making this great tool available to the data science community.

I followed the installation instructions (on Mac OS 10.12.3 running python 2.7.12 via Anaconda) and am looking at my first knowledge repository now.

Next, I would like to configure the `extract_images_to_s3` postprocessor. I have
- downloaded the

[2017-05-25 04:05] matthewwardrop commented on #272
Hi @shashj199 ,

We are using the knowledge repo on MacOS systems all the time, so this is odd indeed. Can you share the contents of the `.knowledge_repo_config.py` file in your git repository? Or are you using a DBKnowledgeRepository?

[2017-05-25 04:18] matthewwardrop commented on #273
Hi @tomsing1 !

Glad to have you on board with the knowledge repo!

Due to some Python magic, for the KnowledgePostProcessor subclass to be detected, it only needs to be loaded into memory... it doesn't matter how or where.

As such, you have two simple options regarding the extract_images python file:
1) import it into your knowledge repo config file
2) define the class **in** your config file

A

[2017-05-25 04:18] #273 closed

[2017-05-25 04:20] matthewwardrop commented on #269
Hi @dhango

We recently made some changes regarding support for javascript in knowledge posts, which may have fixed this issue too. Can you check whether the master branch still has this issue? If so, we'll look into it at some point :).

Thanks for reporting it!

[2017-05-25 04:47] shashj199 commented on #272
# Configuration for this knowledge data repository.

# A function called to see whether a specified path is permitted in the repository
# Only enforced when creating/modifying posts. It should return the path as a standard
# unix path (virtual folders separated by '/' and the final node should end in '.kp').
# It should raise an exception if the provided path is is not permitted in the knowledge
#

[2017-05-25 04:51] matthewwardrop commented on #272
And does the repository have the knowledge_repo tools embedded into it? (Is there a .resources folder?)

[2017-05-25 04:52] shashj199 commented on #272
No it doesn't have a .resources folder.

[2017-05-25 04:53] matthewwardrop commented on #272
Ah... it was just a typo (with some poor error messages). You should have run:
`knowledge_repo --repo 454_repo/ preview 454_repo/project/454_ipynb.kp`

Will keep this issue around to remind me to clean up the error messages.

[2017-05-25 04:59] shashj199 commented on #272
I checked the command but it is still giving the same error. I checked another command to verify it is not some installation problem, so I deployed the web app and it worked. Only the preview is not working.

[2017-05-25 05:00] matthewwardrop commented on #272
Sorry... I think I also carried on a typo from what you wrote:

It should be:
`knowledge_repo --repo 454_repo/ preview project/454_ipynb.kp`

The path should be relative to the repo root.

[2017-05-25 05:01] shashj199 commented on #272
Oh thanks a lot, it worked. I should have checked the documentation in more detail.

[2017-05-25 05:02] matthewwardrop commented on #272
And our documentation should be better... thanks for your patience!

[2017-05-25 05:16] tomsing1 commented on #273
Thanks a lot for the quick response, but I think I need a bit more help.
I tried the following, but so far without success:

I have
- added an empty `__init__.py` file to my `example_repo` directory
- downloaded the `extract_images_to_s3.py` file into the directory and edited the following two lines:
    - `S3_IMAGE_ROOT = 's3://XXXXX/images'`
    - `HTTP_IMAGE_ROOT = 'https://s3-us-XXXXX/images/`

[2017-05-25 05:19] matthewwardrop commented on #271
@shashj199 Since KnowledgePostProcessor instances have access to the entire knowledge post and all its references, this should be possible to do. Will keep this in mind when I implement it.

[2017-05-25 05:24] matthewwardrop commented on #273
Hmmm... interesting.

So just to be clear, the `postprocessors` configuration option specifies a list of identifiers for KnowledgePostProcessors (by name or class) that should be applied to knowledge posts on their way into the repository. It does not affect previously committed posts.

So just checking... you are running `knowledge_repo ... add ...` and not seeing the images on S3?

FWIW, the `__

[2017-05-25 05:36] tomsing1 commented on #273
Thanks again for the immediate response.
Yes, I have created new posts after specifying the postprocessor, but it doesn't seem to take effect.

Starting with the examples provided with the installation, I changed the title of the `example_post.Rmd` and executed the following command:

[code]
When I start the server, the post is displayed correctly (including figures), but I don't think any interac

[2017-05-25 13:06] shashj199 opened #274 "Automatically Update the servers once something is pushed to the knowledge repo"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

From the documentation, I understand that it can be done but what specifically it does is not clear.

If I checkout knowledge repo in ```.resources``` folder as a git submodule then anything which is committed and pushed into the repo will get automatically updated on the servers. Does that mean that if I have a repo hosted on

[2017-05-25 20:00] bmabey commented on #260
Any more thoughts on this @matthewwardrop? I'm thinking of just using a simple shell script wrapper to address this problem for now unless you can think of a way of addressing the problem using pygit.

[2017-05-26 00:22] bmabey opened #275 "reindexing for updated posts?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Our running instance does not appear to be reindexing when the git repo is updated. (So far I have only been pushing changes to an existing post.) Do I need to explicitly turn on reindexing or what needs to be done so posts will update automatically?

[2017-05-26 00:30] dhango commented on #269
Thanks for getting back @matthewwardrop !

I checked the master branch and ipywidgets still do not render. I tried creating the text box in pure JS and that rendered fine, so this may be something specific to ipywidgets. I really appreciate the help!

[2017-05-26 04:14] matthewwardrop commented on #275
Hi @bmabey ,

Can you describe you set up a little more?

In particular, the knowledge repo does not automatically run `git pull` on the repository (such functionality will eventually be added). If you have done that manually or via cron or some such, then the knowledge repo should automatically reindex the repository if it hasn't already done so in the last 5 minutes. It skips posts that have not

[2017-05-26 04:18] matthewwardrop commented on #274
Hi @shashj199 ,

The embedded .resources repository is actually focussed on making sure both client and server side code is running the same version of the knowledge repository given that they are using the same revision of the git repository, and nothing at all to do with actually syncing the git repository. At the moment, git syncing must be done manually via `git pull` or via cron or some such.

[2017-05-26 04:18] #274 closed

[2017-05-26 04:23] bmabey commented on #275
Ah, okay, I thought a "reindex" involved doing a  `git pull`. I'll add a cron job to do a git pull. Thanks!

[2017-05-26 04:23] #275 closed

[2017-05-26 14:56] bmabey commented on #275
BTW, we ended up using adding a webhook route via the `prepare_app` function. That may be a good way to add the functionality to the actual project.

[2017-05-26 15:53] rtjohn opened #276 "Setting up users"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

My team has successfully deployed a knowledge-repo, and even written some ugly R and Python functions to make the addition and submission of knowledge posts simpler (never having to leave R or Python).  However, we are not seeing any documentation around getting users set up properly.

Currently when someone comments it is subm

[2017-05-26 15:59] rtjohn opened #277 "Python 2.6 passing?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

When I attempted to install knowledge-repo on a machine running CentOS 6.9 I ran into problems.
The issue appears to be related to the entrypoints package needing Python > 2.6:

[code]

[code]

The issue is resolved simply by upgrading Python to >2.6.  However, your CI tags on the repo say the Python 2.6 build is passing?

[2017-05-26 16:23] bmabey commented on #269
@dhango `ipywidgets` rely on the python kernel backend being present so they won't with the `knowledge_repo` the way you are hoping (I think). The best you would get is the JS controls that don't do anything similar to what you see here: https://nbviewer.jupyter.org/github/jupyter-widgets/ipywidgets/blob/2940f9f56f63257902b27509f18e872e77c3c014/docs/source/examples/Widget%20Basics.ipynb

[2017-05-26 17:58] matthewwardrop commented on #273
@tomsing1 One more quick question: Is the .knowledge_repo_config.py fully committed into the repository (including these changes?). This is required in order for it to be detected as the repository configuration.

[2017-05-26 18:00] matthewwardrop commented on #277
Thanks for the memo @rtjohn !

Python 2.6 used to be supported, but it looks like external dependencies no longer support it. While the core of the knowledge repo still supports Python 2.6, we would prefer not to maintain the knowledge repo for such an old version of Python, so we'll bump Python 2.6 from the list of supported versions.

Thanks again!

[2017-05-26 18:03] matthewwardrop commented on #277
And done. Python 2.6 will no longer be officially supported as of the next published version!

[2017-05-26 18:03] #277 closed

[2017-05-26 18:07] matthewwardrop commented on #276
Hi @rtjohn ,

Thanks for reaching out. Currently, we have not added support for managing authentication within the knowledge repo itself. For now, if users want authentication support, they must set up a proxying web server that adds authentication headers to the HTTP requests. You can then configure the username header in the server configuration, and by so doing effectively support users.

We do

[2017-05-26 18:07] #276 closed

[2017-05-26 23:44] tomsing1 commented on #273
Ah - that was part of the problem: I had not commited the `.knowledge_repo_config.py` file after making the change. Once I did, the import I had added took effect:

[code]
and I got the error message displayed below, because the module could not be found (the file was in the same folder as the config file).

But when I copied the content of the `extract_images_to_s3.py` file into the `.knowledge_r

[2017-05-27 04:22] matthewwardrop commented on #273
Excellent! The remaining issues were likely due to path issues, and we should probably make all of this much clearer in documentation. The trouble is, of course, that things may change a little bit before we hit 1.0... but we should have this sort of thing nailed down shortly!

Thanks again for your perseverance!

[2017-05-30 17:15] jeffreygrover opened #278 "Google charts - month indexing starts at 0"
Hi,

This is a _very_ minor thing, but I've noticed that the 'Stats' page uses Google charts. The months in JavaScript dates are 0-indexed, so all of the plots are off by a month.

Thanks for creating and maintaining such a great tool!

-Jeff

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-06-02 11:03] Joaquimdcp opened #279 "CSS in rmd"
Hi!
I want to know how I can keep my css styles in rmd in knowledge-repo. It works propertly in local (RStudio) but it don't works in your platform.

Thanks a lot!

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-06-02 16:01] matthewwardrop commented on #279
Hi @Joaquimdcp!

Thanks for reporting this! Can you provide an example Rmd file, so that we can more easily reproduce and extend existing functionality?

[2017-06-02 21:48] matthewwardrop commented on #278
Thanks Jeff. We'll fix this for the next release :).

[2017-06-06 08:08] shashj199 commented on #91
@matthewwardrop This seems like it will track user which has deployed the knowledge repo. Is it also possible to track users which are viewing the deployed flask instance? Is it possible to include a login feature?

Thanks

[2017-06-06 17:20] shashj199 commented on #239
This feature would be awesome. It would seriously make handling knowledge repo a lot easier.

[2017-06-07 09:15] durgakant opened #280 "Problem with rendering of Links (signed URLs of files on S3)"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
Hello,
I am creating a python package for Listing signed URLs of different files inside a folder and its sub-folders available on S3, We just need to pass the path of the folder. It is same as what FileLinks function in IPython notebook does locally. The motivation is that It will allow the user to understand the data structure(

[2017-06-09 09:09] said026 commented on #252
Hi,

I think it requires some missing packages, try with these ones (using python 3) :

[code]

[2017-06-09 14:15] said026 commented on #113
Hello guys,

I don't know if its the right place to post it, but there is an error in the **Post Headers** section of the README. For the _updated_at_ header specifically, the provided example is : _created_at: 2016-10-10_, which is quite confusing. Also it seems to be a mandatory header since the knowledge repo fails to add posts without this header.

Thanks !

Saïd

[2017-06-14 01:19] selwyth opened #282 "Instability with git commit parsing"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hello! I got knowledge-repo deployed successfully onto internal hosts via uwsgi. I've had a troubling problem though where things will look good for 5-10 minutes, then the server will start spitting out error logs like the following, and in increasing frequency. I'm unable to reproduce this when messing around in the flask shel

[2017-06-14 10:35] #280 closed

[2017-06-14 13:27] zerogjoe commented on #231
Hi @matthewwardrop! I have a related requirement to this one, which is that we intend to store the knowledge repo as a private repo on a cloud git service (most likely Bitbucket) and serve the web app from a cloud container service (likely Heroku or Azure). I'm intending to add the ability to use Bitbucket's OAuth API to authenticate users and check that they have read access to the underlying rep

[2017-06-15 11:00] shashj199 opened #283 "User Tracking for likes, comments"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hey All,

We are using knowledge repo for our projects but one issue that we are facing is that comments are not getting saved, likes are not tracked. I know that there are other issues that talk about this so we went ahead and derived some clues to get this functionality working. We passed a server config file which points to

[2017-06-15 23:35] NiharikaRay commented on #283
Hi @shashj199!

Thanks for your interest in this project - the way we track users is by looking at the `AUTH_USERNAME_REQUEST_HEADER`, which we assume is a header passed in the request that contains the username of a specific user - code here: https://github.com/airbnb/knowledge-repo/blob/6b06ec1d41cde2ceff49419412e56adebecd03e4/knowledge_repo/app/app.py#L121

Is the a header that gets passed in w

[2017-06-16 04:59] matthewwardrop commented on #282
Hi @selwyth !

Thanks for reporting this. We haven't seen these issues locally yet, so thanks for bringing it to your attention.

My first naive guess is that your version of the python library gitdb is somehow out of sync with the db format used by the version of git on your machine... but I'm not aware of any recent changes in that arena.

To help us reproduce it, can you provide the following d

[2017-06-17 04:39] shashj199 commented on #283
Hey @NiharikaRay,

Thanks for replying. We are trying to pass the header in the requests to the app. The way we are approaching this is by prompting a user to enter his username when he will try to open knowledge repo (sort of like login, but not that sophisticated), then once we have his username, we will save that in the browser's memory and pass that ```AUTH_USERNAME_REQUEST_HEADER``` through f

[2017-06-17 17:36] matthewwardrop commented on #280
@durgakant Did you sort this out?

[2017-06-17 19:12] durgakant commented on #280
Hey @matthewwardrop ,
No, not yet - I gave it a pause and was working on something else.
Please let me know what can be done to resolve it ?

[2017-06-19 08:26] selwyth commented on #282
OS: CentOS 6.5
Python: 2.7.11
knowledge_repo: 0.7.6
git binary: 1.8.4
gitdb2: 2.0.2

Thanks for offering to take a look, and I hope this helps. I've confirmed it's due to reindexing; no errors if I turn it off in the server_config.py.

[2017-06-19 11:45] shashj199 commented on #283
Hey @NiharikaRay,

We figured the above things out. Right now we have made an arrangement for open comments i.e. user can enter his information and then comment. We will try to implement login feature soon. Thanks for you help.

[2017-06-27 16:49] rtjohn opened #284 "pander tables not redering correctly"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

There appears to be a problem with rendering pander tables?  I've attached two screen shots showing how the same table is rendered in the .html version produced by knitting a Rmd in RStudio and in the knowledge post version.  This only happens with tables created using pander.

We will try and figure it out on our end as well b

[2017-06-27 17:21] rahulravindran0108 opened #285 "[Enhancement] Can prepare_app add methods to before_request"
An easy way to get away with authentication is have prepare_app inject an authenticator before requests. Can this be done prepare_app using the KnowledgeFlask instance ?

I really wanted a way to change set_user_information for custom auth.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-06-27 23:54] jdavidheiser commented on #102
I am in the extremely early stages of playing around with Knowledge Repo, and this is probably something we will need, to facilitate converting a bunch of existing documents.  Will definitely keep this issue in mind as we explore how to do that.

[2017-06-28 01:34] aimran opened #286 "Unable to run quick-start"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Super excited to see this project. However, I am running into some issues getting it to run locally. I installed inside a virtualenv (with pip install knowledge-repo[all])

[code]

I see that it has successfully created a blob in the `vidya` folder

[code]

However, when I run `preview`, it seems to get into a funky state

[cod

[2017-06-28 07:03] matthewwardrop opened #287 "Use post title as the HTML page title."
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-06-28 18:13] aimran commented on #286
operator error .. was not obvious that the command should explicitly set the `--knowledge-branch` because drafts are getting stored with same name as the `project` variable

The other option is to merge the branch (same as ```project.kp```) it into master right away.

So, if you still have drafts that is yet to be merged into master

[code]

[2017-06-28 22:19] jdavidheiser opened #288 "Configuration for web editor is unclear"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I've managed to get the web editor partially working - I created a git repo, and launch with the command

```knowledge_repo --repo {data}~/knowledge/example_repo/ --debug deploy --port 4567 --config ~/knowledge/server_config.py --engine flask```

Where server_config has been modified to include `WEB_EDITOR_PREFIXES = ['webposts

[2017-06-29 15:49] GonxoMR opened #289 "Avoid Gunicorn deployer error in Windows"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I am trying to install the knowledge repo in a windows machine and I got the next error when running the example:

`$ knowledge_repo --repo ./example_repo preview project/example_ipynbs`
WARNING:root:Gunicorn deployer is not available. It only works on POSIX platforms (e.g. Linux, Mac OS X, etc). If you are using a POSIX platfo

[2017-06-30 09:58] #289 closed

[2017-06-30 11:14] GonxoMR opened #290 "Strange message when clicking Favorites tab in dev server"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hello everyone,
this might point to some bug.

While running different test I got the local server up and running with some posts. Then I click the favorites tab and this message appear:

'C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\sql\default_comparator.py:161: SAWarning: The IN-predicate on "tags.name" was invoked

[2017-06-30 22:43] NiharikaRay commented on #290
Hi @GonxoMR! Thank you for reporting this - we're aware of this and will take a look at fixing this soon! (it's a warning, so hopefully it doesn't block anything you're working on)

Nikki

[2017-07-01 17:55] matthewwardrop commented on #285
@rahulravindran0108 Yes. The `prepare_app` function can do *anything* to the knowledge repo flask app. We are planning to add support for inbuilt authentication soon, which is tracked in #231.

[2017-07-01 18:00] matthewwardrop commented on #288
@jdavidheiser I think the issue here is that we only support two-way read/write support to knowledge repositories via the app for DBKnowledgeRepository instances. Git repositories are not supposed to be used as multi-user databases, and so there are all sorts of potential locking issues. Also, all prefixes must be supported by a knowledge repository. So in this case, your `webposts` prefix is poin

[2017-07-03 10:41] GonxoMR commented on #290
Hi @NiharikaRay, as you said it is not an issue, just a warning and it is nor blocking anything. Thanks for the response.
Gonxo

[2017-07-03 10:50] GonxoMR opened #291 "Index/table of contents"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hello everyone,

is it there a feature that maps the knowledge_repo and presents an index/table of contents like post of page? If not does someone any ideas on how to approach this?

Thank you in advance,
Gonxo

[2017-07-04 00:21] matthewwardrop commented on #291
Hi @GonxoMR ,

Support for an interactive TOC was added in #292, as noted above. You can also add `[TOC]` to you document, which will be replaced with a generated table of contents. Once #292 is merged, you probably don't need a manually places TOC.

Hope that helps! Closing this out for now.

[2017-07-04 00:21] #291 closed

[2017-07-04 00:25] matthewwardrop commented on #287
Fixed in #292. Closing ahead of its being merged.

[2017-07-04 00:25] #287 closed

[2017-07-04 00:33] #285 closed

[2017-07-04 00:37] matthewwardrop commented on #257
@Joaquimdcp This is remedied as of #292. Closing ahead of its being merged :).

[2017-07-04 00:37] #257 closed

[2017-07-04 01:29] matthewwardrop commented on #261
This is fixed in #293, which should be merged shortly. See attached screenshot for proof :).
<img width="966" alt="screen shot 2017-07-03 at 6 23 49 pm" src="https://user-images.githubusercontent.com/124910/27811642-773c2066-601d-11e7-9699-29e63f20a49d.png">

[2017-07-04 01:29] #261 closed

[2017-07-04 16:05] Joaquimdcp opened #294 "No tags with int"
Hello!
We use knowledge-repo in our company, and we found an issue. When we put a in tag, like 2017. Knowledge Repo not work.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-04 19:46] matthewwardrop commented on #294
Thanks for flagging this @Joaquimdcp ! Will look into this with a fix soon :).

[2017-07-04 19:48] matthewwardrop commented on #231
Hi @zerogjoe ,

I'm planning to add an abstract authentication API in the first half of this month (July), you can then use this to authenticate against any service you see fit :).

[2017-07-05 14:30] nherrero opened #295 "Add support for fetching updates to git repositories during index update"
After deploying the knowledge_repo in a server we've seen that it needs to be restarted to display the new content pushed to the repo. Is this the expected behavior? Are we missing something? Thanks

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-05 15:27] IreneRoma opened #296 "Ascii breaks knowledge repo in title"
Hi, I am using knowledge-repo in my company and we have detected an issue.

When we put accents in a title (example: "Descripció") it doesn't work.

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-05 15:28] Joaquimdcp commented on #296
+1 Here! @IreneRoma

[2017-07-05 15:32] matthewwardrop commented on #296
@IreneRoma @Joaquimdcp Thanks for reporting this.

This is actually now fixed in #293 . Using Python 3 should fix the problem for now... but I'm expecting we'll be able to merge this into master today to solve the issue for Python 2.

Feel free to reopen if this remains an issue in Python 3, or when running off the branch of #293.

[2017-07-05 15:32] #296 closed

[2017-07-05 15:34] matthewwardrop commented on #295
@nherrero Currently, the knowledge repo does not update git repositories when it is running (largely because internally we run the knowledge repo on an isolated box and so this would fail). If you manually set up a cron job to update the git repository, however, it will pick up the changes. I will be adding support for automatic git pulls during the next week :).

[2017-07-05 17:54] matthewwardrop commented on #45
@jbwhit At long last, this is done. You can now download any files added to the knowledge post as of #292. Referencing of external material still best done in via free-form markdown links. I'm planning on adding support for academic style references soon; but that will still not embed the PDFs themselves. You can manually embed the PDFs by referencing them as "src" files when adding the knowledge

[2017-07-05 17:54] #45 closed

[2017-07-05 18:09] jbwhit commented on #45
Thanks Matthew!

--
Jonathan Whitmore, PhD
Web: JonathanWhitmore.com <http://jonathanwhitmore.com/>
US (Google Voice): +1 (321) 252 9448

On Wed, Jul 5, 2017 at 10:54 AM, Matthew Wardrop <notifications@github.com>
wrote:

[2017-07-05 18:40] nherrero commented on #295
@matthewwardrop Great, we came up to the same solution, that of setting up a cron job for pulling from git. Not sure if setting up a git hook would do the trick. Anyway, thanks!!

[2017-07-06 10:12] IreneRoma opened #298 "Add support for downloading posts as PDF files"
Hello again!

I'm worried because users of my company need to export posts in **PDF** format. Until now it is only possible to download them as Rmd/ipynb/md or zip format.
It would be great and quite simple to add this feature!

Thanks for this amazing tool
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-06 10:18] Joaquimdcp commented on #298
Wow!
This would be fantastic @IreneRoma, in my  company we have the same issue!

[2017-07-06 10:20] Joaquimdcp commented on #295
I had the same issue, and I solve it using a simple flask handler using github webhook. It is working very good. I don't know if you can solve it using the same way!

[2017-07-06 10:53] IreneRoma commented on #279
Hello @matthewwardrop , so sorry for not answering, here I attach an example of Rmd with a css style in it that is ignored by the knowledge-repo.

It would be also interesting to be able to import .css file in the .Rmd with the customization.

Thanks for your work
[example_issue279.Rmd.zip](https://github.com/airbnb/knowledge-repo/files/1127595/example_issue279.Rmd.zip)

[2017-07-06 19:12] nickymikail commented on #298
Would something like Flask-WeasyPrint be the tool to use?

[2017-07-06 20:49] matthewwardrop commented on #298
@IreneRoma I am actually already planning to add support for PDF downloading... but thanks for flagging this! Now I won't forget :).

[2017-07-07 13:11] GonxoMR commented on #291
Hello @matthewwardrop ,

thank you for your fast response and the addition of the features. That was awesome!

Although the TOC in every post is really handy and in a way can solve my problem. I was looking more to have a public index of the different post in the knowledge repo. The idea is to give any new visitor to the repo hint of which post to read first.

Thank you for you time

[2017-07-08 02:55] Ashwin501 opened #301 "upload images to S3"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi,

Could you please provide more information about uploading the images into S3. Also, more insight about these two class 'ExtractImages' and 'ExtractImagesToS3' and how to configure extract_images_to_s3.py file for our organization's cloud storage.

[2017-07-08 21:30] matthewwardrop commented on #291
Hi @GonxoMR ,

Is the idea here to have some manually curated list of posts as the main page of the site? Or do you have something else in mind?

Discoverability and searchability are definitely something we are working to improve in the next little bit. Is that what you mean here?

[2017-07-10 22:14] matthewwardrop commented on #231
@sunilkpai (Moving from the #299 to general issue tracker). I have mostly implemented this feature locally, and am sorting out some extra considerations (like keeping track of authors and users separately), but should look to land this by next week.

[2017-07-10 22:18] matthewwardrop commented on #301
Hi @Ashwin501 ,

You should import (or copy/paste) the contents of the `extract_images_to_s3.py` into .knowledge_repo_config.py inside of your git knowledge repository. Then you just need to add `'extract_images_to_s3'` to the `postprocessors` list inside of the same file. This processor will then be applied to every subsequent knowledge post that is added to the repository.

Does that help?

M

[2017-07-11 12:15] GonxoMR commented on #291
Hi @matthewwardrop,
sorry for the late answer, a few crazy days around here.

I am not sure I am answering your question. I do not have an specific solution to the problem as I am pretty much dependent on you development. I will describe the situation and how I picture a possible solution.

Our knowledge repo has two main purposes:
- The first one is to share state of the art knowledge of our proc

[2017-07-11 16:46] matthewwardrop commented on #291
Hi again @GonxoMR,

One feature I'm planning to add soon is the concept of "series" or "collections", which consists of both ordered and unordered sets of posts. This sounds to solve most of your issues.

We are also looking to flesh out the index/feed page, allowing on the fly filters (which can include filtering down to particular path prefixes).

I also have a local patch that will soon be comm

[2017-07-12 08:57] Ashwin501 commented on #301
@Matthewwardrop  thanks a lot it really helped.

I am having issue regarding "Submitting knowledge". I'm trying to submit the knowledge to remote repository but getting following error.

Traceback (most recent call last):
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2017.1.4\helpers\pydev\pydevd.py", line 1591, in <module>
    globals = debugger.run(setup['file'], None, None, is_mo

[2017-07-12 12:07] Ashwin501 commented on #301
+ @matthewwardrop I can able run simple flask app outside the knowledge repo but if I run with knowledge repo it is showing following message.

INFO:alembic.runtime.migration:Context impl SQLiteImpl.
INFO:alembic.runtime.migration:Will assume non-transactional DDL.

Please suggest how we can run the flask application with knowledge repo.

Many Thanks
Ashwin

[2017-07-12 22:07] zerogjoe opened #303 "Visual glitch: "Collapse All Code" button overlaps with page stats (Chrome, Windows)"
See image below:
![image](https://user-images.githubusercontent.com/29302451/28141653-de7e65c6-675d-11e7-9348-b96384677659.png)

Presumably introduced in https://github.com/airbnb/knowledge-repo/pull/297

OS: Windows 10 Home version 1607
Browser: Google Chrome 59.0.3071.115
Resolution: 1920x1080

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-12 22:15] matthewwardrop commented on #303
This is a caching issue in the browser. If you waited long enough it would most likely disappear, but you can use `<ctrl> + <shift> + R` to force the browser to reload the cache. We'll work on solving this issue at some point using webpack or some such; but for now, closing this out. If hard refreshing the page does not solve the issue, please reopen :).

[2017-07-12 22:15] #303 closed

[2017-07-13 11:16] GonxoMR opened #304 "No new post are shown while running runserver"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Good morning,

recently I have move the knowledge-repo from my local machine to the server where will be running. Along with this I have been creating new knowledge and I have been uploading it.  The problem is that even though the new content shows in the repo of my machine the origin in the server, it doesn't show up while ru

[2017-07-13 11:18] GonxoMR commented on #291
All this seems to work for me. Thank you for your time and nice work. :)

[2017-07-17 15:39] matthewwardrop commented on #304
Hi @GonxoMR ,

Currently the the Knowledge Repo server does not fetch changes made to the repository during the reindexing phase (that will change soon), and so your best bet for now is to run a `cron` job that fetches the repository and keeps it up to date. Once the repository has been updated on the server filesystem, the Knowledge Repo server should reindex the new posts and show them. Let me k

[2017-07-17 15:39] #304 closed

[2017-07-17 15:54] matthewwardrop commented on #283
@shashj199 We now have mostly implemented an authentication scheme in #305. Closing this out in favour of it.

[2017-07-17 15:54] #283 closed

[2017-07-17 16:40] GonxoMR commented on #304
Hi @matthewwardrop,

I think my problem is different. I am not running on the server I am running dev locally. Also I restart the repo every time (killing the process and running runserver again). Although before to move to the server it would get the changes in the knowledge if I updated it.

In addition when I updated one of the post, it disappeared from the knowledge-repo when running runserver

[2017-07-21 21:57] rahulravindran0108 opened #306 "Email default_recipient value for subscription emails"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Why does this line exists ? https://github.com/airbnb/knowledge-repo/blob/master/knowledge_repo/app/utils/emails.py#L90 shouldn't it be an environment variable that an organization can set ?

[2017-07-21 22:00] matthewwardrop commented on #306
Hi @rahulravindran0108 ,

Right you are, sir! There's still a lot of code cleanup to do before 1.0.0, so if you find anything else, let us know :). I'll clean this up soon!

M

[2017-07-21 22:41] susanjo80 opened #307 "When adding a new post, error in Bash 'R' is not recognized as an internal or external command"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
I was able to install the repo tools, set up SSH, download and install Git Bash and create a test post, but when I try to add that post to the repo I get the following error in Git Bash:
" 'R' is not recognized as an internal or external command, operable program or batch file."
Any idea what could be going on?
Here is the comma

[2017-07-22 04:19] matthewwardrop commented on #307
Hi @susanjo80 ,

This looks similar to #46; but the short term solution (I think) is to run:
`set PATH=C:\Users\sjohnke\AppData\Local\Continuum\Anaconda3;C:\Users\sjohnke\AppData\Local\Continuum\Anaconda3\Scripts;%PATH%`

There's a way to add things to your path by default,  but I cannot remember how to do that in Windows.

Closing in favour of #46. Feel free to respond here or in #46 if this cont

[2017-07-22 04:19] #307 closed

[2017-07-22 16:14] rahulravindran0108 commented on #306
Cool. Let me know if you want me to send over a PR ?

I would suggest removing the default recipient altogether and just use recipient bcc in here or if there is an environment variable for default recipient then use that instead.

Even with the code cleanups its a pretty solid product :). I enjoyed setting it up for my org.

[2017-07-23 19:00] matthewwardrop commented on #306
Thanks for the offer. I'm about to land some fairly hefty changes around authentication in #305 , which will lead to a lot of legacy code like this needing cleaning up at some point. I plan to go over the code reasonably soon to fix this.

The authentication patches remove the notion of a 'default' user, and so a lot of this older logic will just disappear :).

[2017-07-23 19:02] matthewwardrop commented on #279
Thanks @IreneRoma :). Will look into this soon!

[2017-07-24 18:42] susanjo80 opened #309 "GUI or similar front end instead of Bash/cmd?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
Hi,

are there any plans on building a GUI or similar front end for adding and submitting the posts to the repo? Going through the documentation we cannot get this to work and we want it to work SO badly! Just keep running into error after error. I can not see this succeeding with the rest of the team unless we make it easier to

[2017-07-24 18:45] susanjo80 commented on #307
Downloading the small program as suggested in #46 worked to resolve this for me. Thanks!

[2017-07-24 18:51] matthewwardrop commented on #309
Hi @susanjo80 ,

Sorry to hear that you are having so much trouble :(. Can you share what the errors are, so we can work to fix them or guide you through the process a little more? Things seem to be working reliably on our side.

If you are not uploading posts with embedded images and code, you can always just use the web editor that is part of the knowledge-repo web-app. It isn't quite as powerfu

[2017-07-24 19:16] susanjo80 commented on #309
After fixing the error message around it not understanding 'R' as a command via a separate post you referred me to, I now get an error that says 'Error in library(knitr) : there is no package called 'knitr'.

I already went through the steps of adding both my R bin and the directory that houses all of my R packages to my PATH variable, so I'm stumped as to why I'm getting this error.

I'm not sure

[2017-07-25 15:19] susanjo80 commented on #309
Follow up: the web editor was not enabled on our version. That's since been fixed.

[2017-07-25 18:20] susanjo80 commented on #271
Once we're able to add source files with a knowledge post, how do we call them in the Rmd or Jupyter Notebook file?
i.e. in R we would write something like:
load(file = 'df.rdata')

[2017-07-27 14:22] susanjo80 commented on #309
We recently upgraded to the latest version of the repo and I am still receiving the same error that 'knitr' can't be found. Any ideas how to point the repo to where R packages live? Jupyter notebooks post just fine.

[2017-07-28 04:09] matthewwardrop commented on #309
@susanjo80 The software carpentry software linked in #46 seems to fix this issue for people on Windows.

[2017-07-28 23:43] matthewwardrop commented on #231
Fixed in #305 . A specific `KnowledgeAuthProvider` has not been written for LDAP, but we welcome contributions. I don't have a way to test LDAP at this stage. I'll open a new issue for anyone wanting to contribute an adapter :).

[2017-07-28 23:43] #231 closed

[2017-07-28 23:44] matthewwardrop opened #310 "Include a Authentication Provider for LDAP"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-07-31 16:02] GonxoMR commented on #53
Hello @earthmancash,

is there any development on this front? We are having the same issue as @qthurier.

Thank you in advance

[2017-07-31 19:07] susanjo80 commented on #309
I was able to download and get that software to run but alas, no dice. I'm still getting the error that there is no package called 'knitr'. Any other ideas of what might work?
As you can see in the attached screenshot, all of the Anaconda files and R locations are in my PATH.
![image](https://user-images.githubusercontent.com/7807917/28793719-8bf8fab4-75f9-11e7-801a-f7e65e9cf626.png)

[2017-08-01 07:06] Napoleon-Black commented on #243
Hi @rene-giretzlehner @matthewwardrop!
I had the same problem, but after update python to 3.6 version everything works good.
You can try to do this with virtualenv or conda.

I hope that helps.

[2017-08-01 15:14] susanjo80 commented on #309
Just a quick follow up:

I was able to submit a Rmd file last night, after doing some more troubleshooting:

Turns out I don’t have write access to the folder where my R packages are installed (I’m following up with IT as to why and how to change that).
To get around that, I had to run R in git bash (“R –vanilla”) and then install the ‘knitr’ package in there, into a folder I DO have access to and

[2017-08-02 11:42] GonxoMR opened #312 "Executing python on the server"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Good afternoon,

I was wondering if there is a way to add a .ipynb to the knowledge repo so the user can moddify and run the code online. We are intending to have small tools built in notebooks to the users to run. Is there a way that the user can make small changes in the notebook?

Thank you,
Gonxo

[2017-08-02 19:15] gthank opened #313 "Support for interactive visualizations"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

One of my users is reporting that plotly visualizations are not functional in the final post. Is this a known issue? Are other systems such as bokeh in Jupyter Notebooks working?

Regards,

Hank

[2017-08-02 20:44] matthewwardrop commented on #313
Hi Hank!

This works in the latest master branch, but not in the current latest stable version (0.7.6). It was fixed in #259 . We'll launch a new version once some recent features are stabilised.

Best,
M

[2017-08-02 20:44] #313 closed

[2017-08-03 15:57] matthewwardrop commented on #309
Hi @susanjo80 ,

As far as the R paths; only the first R path to be resolved will actually be used. What I suspect is happening is that the installation of R resolved first on the command line and the version used in RStudio or whichever IDE are different; and so all of your packages are not available. It looks like you have three potential installations, so try changing the order of the paths unt

[2017-08-04 19:03] jwkvam opened #314 "Heroku support? not a valid git repository error"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I'm simply deploying my local knowledge repo to heroku and when I try to run it using this Procfile:
[code]
I get the following error. It seems heroku deletes the `.git` folder thus it's not recognized as a valid git repository. Any suggestions?

I found a stackoverflow post that seems to be the same issue but was never resolve

[2017-08-05 14:24] tinastefaniewenzel commented on #314
I had the same problem and resolved it by dockerising the app. This changes the PORT however, see heroku docs:

`The web process must listen for HTTP traffic on $PORT, which is set by Heroku. EXPOSE in Dockerfile is not respected, but can be used for local testing. Only HTTP requests are supported.`

So in the `Dockerfile` you will need to specify

`CMD /heroku/python/bin/knowledge_repo --repo /ap

[2017-08-08 02:01] #294 closed

[2017-08-08 17:04] jmmaxwell opened #318 "Google Oauth over https failing"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I'm trying to run the knowledge-repo with nginx over https and using google oauth. In order to get this to work I had to change this line:

`redirect_uri='http://{}/auth/login/{}/authorize'.format(redirect_url, self.name)`

to

`redirect_uri='https://{}/auth/login/{}/authorize'.format(redirect_url, self.name)`

However, now I j

[2017-08-08 18:03] jmmaxwell commented on #318
Never mind, just needed to set the secret key.

[2017-08-08 18:03] #318 closed

[2017-08-08 19:12] matthewwardrop commented on #318
@jmmaxwell Did you still need to change the url to the https protocol?

[2017-08-09 20:42] jdavidheiser commented on #312
I think it would make a lot of sense to build some clean hooks to the existing Dockerspawner Jupyter ecosystem, where a lot of effort has gone into making containerized Jupyter notebooks really easy to manage.

[2017-08-10 04:44] jwkvam commented on #314
Thanks @tinastefaniewenzel, I am able to get it working using docker. I am experiencing timeouts quite frequently with my notebooks. I'm thinking heroku may not be a good solution here. I'll close this since my original issue has been resolved.

[2017-08-10 04:44] #314 closed

[2017-08-10 05:47] matthewwardrop commented on #312
@GonxoMR So far, we've never considered having knowledge posts be modified and executed on the server itself. It's far from impossible, but it just has not been the focus of our work.

I guess you are thinking along the lines of having the content of the knowledge post be fixed/protected, and allowing specific cells or fields to be modified and run by viewers? Such a thing would be cool, and patch

[2017-08-10 14:19] GonxoMR commented on #312
Hi @matthewwardrop @jdavidheiser,

Thank you for your comments.  Matt, that is exactly what I was thinking about. :)

[2017-08-17 16:29] sirhc-k commented on #136
Just wanted to add that more documentation around deployments would be extremely valuable. I was able to get everything up and running locally without any problems, but got stuck trying to deploy to bluemix and heroku. A manifest.yml file would be extremely helpful for beginners. Ultimately, this seems like a fairly big barrier to adoption if users can't figure out how to deploy it because all the

[2017-08-21 20:03] jmmaxwell commented on #318
@matthewwardrop just got around to double checking that: I did still have to change the url to https

[2017-08-22 22:54] matthewwardrop opened #320 "Posts masked by child repositories in MetaKnowledgeRepository instances cause issues during indexing"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-08-23 14:02] gngdb opened #321 "example live knowledge-repo?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Given that a knowledge repo can be hosted on GitHub, are there any public ones running? It would really help to get an idea of what a live one looks like, and it would be nice to clone it to look at it on a local webserver.

[2017-08-23 18:08] matthewwardrop commented on #321
Hi @gngdb ,

We don't have any public example knowledge repositories, but you can see one yourself by running: `./run_tests.sh && ./scripts/knowledge_repo --repo tests/test_repo runserver` . If the resulting server is unstable, use `deploy` instead of `runserver`. In both cases you can access the server at http://127.0.0.1:7000 .

Best,
M

[2017-08-23 18:08] #321 closed

[2017-08-24 02:50] aaronbiller commented on #243
@rene-giretzlehner @Breaka84 See the PR above for our fix for slow and failing posts with images.  Our setup is a bit hacky at the moment but we're shoring up the details now that we know it works.

[2017-08-31 17:56] jdavidheiser opened #323 "Update docs to mention using a thread-safe DB when deploying with Gunicorn"
When trying to deploy the app with gunicorn, as described in the docs,

I get the following error:

```RuntimeError: Database configuration is not suitable for deployment (not thread-safe).``` which can be traced to the fact that Knowledge Repo defaults to using a sqlite database for the index, and it is [assumed to not be thread-safe](https://github.com/airbnb/knowledge-repo/blob/d876757d1a473e85

[2017-09-01 04:02] matthewwardrop commented on #323
Thanks for the reminder to get to better documenting the knowledge_repo @jdavidheiser . We will hopefully get on this soon. Better documentation is in the works.

[2017-09-01 22:09] jdavidheiser commented on #295
This is something we're looking forward to in a big way as we start spinning up our Knowledge Repo deployment in earnest.  Is there any ETA, or existing work I can help to polish up to get this ready to go?  Seems a bit silly to build some solution around cron as a stopgap if there's a better approach in the pipeline.

[2017-09-01 22:12] jdavidheiser commented on #323
I'm happy to help out with docs if there are specific parts you'd like contributions for - a lot of this stuff is pretty fresh in my mind since we're in the process of setting up a new deployment and figuring out how it fits in with our other tools.

[2017-09-02 05:24] matthewwardrop commented on #323
Actually... getting some help would be great. In particular, if you can pinpoint exactly where the existing documentation was lacking and/or confusing, along with perhaps suggestions on how to improve it, that would be great.

I have a WIP branch that splits out the documentation a bit better, but since it doesn't actually change the content (yet), your best bet might be to just submit a patch for

[2017-09-02 05:26] matthewwardrop commented on #295
Well... I'm well past my initial ETA. Whoops! My dev hours have been divested substantially since then. But this isn't actually that challenging an addition, so I'll put up a PR this weekend to help you out, and tag you on it so you can test it out in your set up.

[2017-09-02 22:48] matthewwardrop commented on #295
This is now implemented in #324.

[2017-09-02 22:48] #295 closed

[2017-09-04 22:04] #286 closed

[2017-09-13 18:02] jdavidheiser opened #327 "enable an update-in-place functionality for knowledge posts in a repo"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

This probably overlaps somewhat with the work in https://github.com/airbnb/knowledge-repo/pull/308, but I was hoping to discuss separately to see how I can help out.  A use case we've run into several times already is the need to update a bunch of source files all at once, and then update their knowledge repo posts.  As an exam

[2017-09-15 05:07] jakhani opened #328 "Authorization in knowledge-repo"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi,

We have requirements of Sharing, Publishing and Discovering Notebooks in JupyterHub. I had setup knowledge-repo and it looks promising to integrate it with JupyterHub for this purpose. Below I have explained our requirements in detail.

**Sharing Notebooks:**

- Users should be able to give read permissions to other users

[2017-09-19 20:51] timkpaine commented on #239
I'm working on this, its relatively simple to do a server extension for managing the repo and a frontend extension for adding buttons for add/submit to the notebook view

[2017-09-26 01:40] matthewwardrop commented on #328
Hi @jakhani.

Thanks for your interest in the Knowledge Repo, and apologies for the delay in my response. I've been on PTO.

Integration of the Knowledge Repo with JupyterHub sounds pretty cool, and is not something we have been working on so far. In principle it should not be hard to create such an integration. I'd recommend doing it by creating a new "JupyterhubKnowledgeRepository" which handles

[2017-10-06 11:01] illiterate-stranger opened #330 "Installing extras from git fails."
[Here](https://github.com/airbnb/knowledge-repo/blob/9ae7e4c652be824c83b6c8e92ac04591a291f02c/knowledge_repo/app/templates/about.html) and [here](https://github.com/airbnb/knowledge-repo/blob/5ba7e5eb20165e1bac24f85d8c5bf9c6233065ef/knowledge_repo/templates/repo_data_readme.md)

It mentions that the extras can be install with something like:

`pip install git+ssh://git@github.com/airbnb/knowledge-

[2017-10-09 18:42] alexisrosuel commented on #314
Hi,

Is there anything planned to deploy the knowledge repo server on Heroku directly ? I have the same error as @jwkvam

Thanks a lot

[2017-10-10 13:22] alexisrosuel opened #332 "Deploy on Heroku"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I am trying to host my knowledge repo on Heroku, and I have the same issue than [issue 314](https://github.com/airbnb/knowledge-repo/issues/314) . This issue has been closed because the author found another solution (using Docker), but I would like to reopen this issue in order to fix it directly.

As a reminder, here is the Pr

[2017-10-10 20:31] menubie opened #333 "Knowledge Repo - Feedback for Beta"
Hello!

My name is Maria and I work at VivaReal, a real estate marketplace in São Paulo, as a Data Analyst.
Today, in our team,  we already use a GitHub flow where we commit all analysis that we create in separate folders - with queries, Jupyter Notebooks, images and a README containing objective, conclusion, results, and methodology. The main barrier for adoption that we perceived was that busine

[2017-10-11 22:15] danfrankj commented on #332
Hey @alexisrosuel! Thank you for your interest in the knowledge repo.

It looks like the error you're running into here is that /app is not a repository, meaning that it is not a repository that has been initialized by the knowledge repo tooling.

Specifically, you'd want to first initialize a repository
[code]

and then you'll be able to start the webserver
[code]
(thought it won't have any knowl

[2017-10-11 22:17] danfrankj commented on #332
Ah - just read the related issue and I see that somehow Heroku is deleting the .git file. I'll look into this

[2017-10-12 08:23] alexisrosuel commented on #332
Hi, thanks for your answer! Indeed the first solution does not work, here are some details :

1.

if I run the heroku bash `knowledge_repo --repo <repo_path> init`, and then restart with `heroku restart`, I still have the same error

[code]

2.

But if I launch the server within the heroku bash, it seems to work :

[code]

and I then get an application error when trying to open the url :

[code]

[2017-10-12 23:37] jdavidheiser commented on #243
I ran into issues with very slow image loads on a git-based knowledge repo, but it was using Python 2.  Preliminary testing seems to show massive speed improvements if I run Python 3 instead.

[2017-10-14 00:46] matthewwardrop commented on #333
Thanks for the feedback Maria!

The internationalisation issue should be fixed as of the latest code in master, but we'll definitely take the rest of your feedback on-board, and see what we can do about it in the future!

Thanks again!

[2017-10-14 19:01] bcipolli opened #334 "Forced usage of --vanilla breaks our rmarkdown rendering"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

We have a local development environment (where we co-develop R packages with analytics scripts) that depends on `.Rprofile` code. This project runs R with `--vanilla`, which skips running this code.

Is there any specific reason this must be done? It strikes me as bad behavior for a package to override default behavior.. by def

[2017-10-14 19:19] danfrankj commented on #334
Hi @bcipolli and thanks for your interest in the Knowledge Repository. It seems like we ought to change the R conversion to `R --no-save --no-restore --slave -e`.

@matthewwardrop  any reason not to do that?

[2017-10-14 19:24] danfrankj commented on #332
Hey @alexisrosuel, your experience matches mine exactly. The main issue is, as you mentioned that heroku doesn't copy the .git files and therefore KR doesn't recognize the directory that you specified as a repository. You can init a repo in heroku bash as you mention, but I don't think the changes you make there persist.

I'm not too familiar with Heroku myself but will play around with this to se

[2017-10-14 23:50] danfrankj commented on #327
Hey @jdavidheiser.

Thank you for your interest in KR and apologies we didn't get back to you quicker. Here's how I'd suggest you might go about the task of adding a tag to a set of posts.

[code]

[2017-10-14 23:51] danfrankj commented on #327
I'll close this for now but please feel free to reopen there's still something unclear

[2017-10-14 23:51] #327 closed

[2017-10-15 15:19] bcipolli opened #336 "Add support for HTML Knowledge Posts"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

We have quite a few HTML posts that we'd need to include in our Knowledge Repo, were we to launch one (which I'm interested to do). Since HTML is valid Markdown, I believe this could be done simply; we'd just need a way to emit the markdown document header.

If this sounds OK, I think I could tackle it. There's already a `HTMLC

[2017-10-15 15:20] bcipolli commented on #336
Another option for metadata would be to allow for specification on the command-line, when `add` is specified. The path (`-p`) option is already custom to that command, so I guess it wouldn't be too hard to add options for each required header metadata value.

Could be limited to html, or be propagated to other conversion types as well.

Just an idea :)

[2017-10-17 14:20] alexisrosuel commented on #332
Hey @danfrankj !

Thanks for looking this, don't hesitate to ask me more details if needed :)

[2017-10-17 16:52] matthewwardrop commented on #332
Hi All!

A while back I started work on improving the tooling related to the knowledge repo in https://github.com/airbnb/knowledge-repo/pull/308, and as part of that I added support for "FolderKnowledgeRepositories", which are basically a collection of knowledge posts in zip or folder form inside a folder. That should have no trouble working in a heroku context. Can you confirm?

That work lapsed

[2017-10-17 17:46] danfrankj commented on #330
Fixed in https://github.com/airbnb/knowledge-repo/pull/335

[2017-10-17 17:46] #330 closed

[2017-10-17 21:17] matthewwardrop commented on #334
@danfrankj Not that I know of. I don't have much experience with R, so I maintained the original code that was written by people who know R better than I do. If there were reasons for it, they've been lost to time.

[2017-10-17 21:25] matthewwardrop commented on #336
@bcipolli Thanks for reaching out about this.

Regarding HTML -> Markdown, have you looked at [html2text](https://github.com/Alir3z4/html2text/) or other similar libraries that already do this? Adding headers in an automated way will require some work. Would you want the headers to be in the HTML source (in meta tags or some such); or in a comment at the top of the document; or would you want to p

[2017-10-18 07:45] alexisrosuel commented on #332
Hi all !

The branch update folder repo works fine for me on Heroku :)

Thanks a lot !

[2017-10-18 17:54] bcipolli commented on #336
@matthewwardrop I would use `META` tags, and would be happy to allow passing in at runtime as well... if that sounds good.

Would definitely use a library to insert the HTML, would not roll my own :)

[2017-10-18 17:54] bcipolli commented on #336
Happy to work on this as part of #hacktoberfest, if y'all are interested.

[2017-10-18 18:01] matthewwardrop commented on #336
@bcipolli We'd love to have your contributions! Feel free to submit patches! If possible, perhaps write the HTML support in a separate patch from the support for run-time specification of missing tags. The runtime specification of missing tags probably belongs as part of the retooling effort in #308 , so once the HTML patch is ready, drop a line and we can discuss the best way to extend the toolin

[2017-10-18 18:50] danfrankj commented on #334
Hey @bcipolli - Thanks for your interest in KR. This should be fixed via https://github.com/airbnb/knowledge-repo/pull/337 Feel free to reopen if the issue isn't resolved.

[2017-10-18 18:50] #334 closed

[2017-10-18 20:10] matthewwardrop commented on #332
@alexisrosuel Glad to hear it!

We'll leave this issue open until this code makes it into master in case others come by with the same issues :).

[2017-10-19 03:26] timkpaine commented on #239
developing a Jupyterlab extension [here](https://github.com/timkpaine/knowledgeable)

[2017-10-19 18:14] jordan-wright opened #339 "Feature Request: Specify Custom Template File"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

While the existing templates are nice in showing the different features available, I find myself having to delete large amounts of content before I can start writing. It would be ideal to specify the location of a custom template when calling the `create` [subcommand](https://github.com/airbnb/knowledge-repo/blob/master/scripts

[2017-10-19 18:14] jordan-wright commented on #103
I'd be happy to take a stab at this. What do we want dynamic templates to look like? It seems like the biggest lifts currently would be:

- Automatic `created_at` and `updated_at` when creating a new post (and maybe updating `updated_at` when submitting the post, though this may be too opinionated)
- Getting the current username and adding that as the `user` attribute

However, I could see this be

[2017-10-19 21:21] matthewwardrop commented on #339
Greetings @jordan-wright, thanks for stopping by!

I think this is a good idea. I've started some work to improve user tooling in #308, and have added support for this as a goal. Combined with your comment on using Jinja variables for various features and a reasonable default context, I think this could definitely add value to the project. Feel free to submit patches for both of these things again

[2017-10-19 21:23] timkpaine opened #340 "Feature Request - expose the knowledge_repo script as functions/a class for easier integration"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I'm working on a plugin to integrate with jupyterlab, but have to manage the various commands [manually](https://github.com/timkpaine/knowledgelab/blob/master/knowledgelab/commands.py) to avoid making a subprocess call to the script. It would be nice to have them as standalone functions.

[2017-10-19 21:32] matthewwardrop commented on #340
Hi @timkpaine. Thanks for working on this! Excited to integrate it into Jupyterlab, but have so far not been able to garner the time to work on it.

What kind of functionality do you need from the `knowledge_repo` script that is not already available in the API? Most of the code in the `knowledge_repo` script is just command line argument parsing, the rest being calls to code in the `knowledge_rep

[2017-10-19 22:37] jordan-wright commented on #339
Ah, excellent work on #308! That looks like it'll provide all sorts of good improvements. Would you prefer I work from that branch and submit pulls reqs there instead of adding things to `master` here and putting you in a bind trying to make sure the changes your making will still work?

My goal is to put as little work on you as possible, so just let me know what's easiest for your workflow. 😄

[2017-10-19 22:45] matthewwardrop commented on #339
The changes you are making are not deep in the fundamentals of the project, so I don't expect any issues. Feel free to just submit some patches to master. Porting the changes should be straightforward; and as mentioned, #308 is a moving target and everything is up for redesigns/etc.... that's nasty for patches. Moreover, for the next few releases at least (and probably until 1.0), we'll keep aroun

[2017-10-19 22:46] jordan-wright commented on #339
👍  Sounds like a plan, thanks!

[2017-10-20 15:21] #339 closed

[2017-10-21 22:02] timkpaine commented on #340
@matthewwardrop Its all available in the API, I just need to parse the command file to figure out which calls to make. I suppose its less of a technical feature request than a documentation one, can combine into #65 if the calls made can have a little bit of documentation added around them to see what the args/kwargs do.

[2017-10-21 22:02] #340 closed

[2017-10-21 23:55] matthewwardrop commented on #340
Aye... documentation is definitely a sore point... but we'll get there eventually :). If you have specific questions about what a method does, don't hesitate to reach out!

[2017-10-26 12:41] analyticalmonk opened #343 "Knowledge post not getting rendered on AWS"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi,
A weird bug cropped up while I was trying to set up knowledge repo for my organization. I'm deploying the web app on AWS using nginx. A post wasn't getting rendered. However, everything works fine and the post renders when I deploy the server on my local machine.
I tried adding the same post under a different name after rem

[2017-10-26 15:42] matthewwardrop commented on #343
Hi @analyticalmonk !

Is there any differences in the deployment? In particular, knowledge_repo version. Unicode support was only added post the current released stable version of the knowledge repo (new version coming soon, TM).

Other than that, I can think of no issue that might cause this. :/

[2017-10-27 09:12] mattchoy opened #344 "Run WepApp over https"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I tried running the WebApp on one of our https servers but get some Bad Request errors.

I couldn't find any documentation on what to change to enable serving over https. Is it possible?

[2017-10-30 18:38] olgabot opened #347 "How to add existing notebooks?"
If one already has a repo with 10s-100s of notebooks, how can one automatically create a knowledge repo from multiple notebooks?

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-10-31 02:11] matthewwardrop commented on #347
Hi @olgabot ,

One could create a python script to do this, but other than that, it is not possible at this time. The issue is that Knowledge Posts have additional metadata and structure than ipython notebooks, so it isn't immediately obvious how this transformation should generally take place.

If this answers your question, feel free to close the issue; otherwise, reply with more details :).

[2017-10-31 02:31] timkpaine commented on #347
You can inject the metadata when you publish the notebook. I’m working on something like that [here](https://github.com/timkpaine/knowledgelab). I want the notebooks to stay normal, but be linked to knowledge posts and “publishable”.

[2017-11-07 01:39] danfrankj opened #348 "Spaces in Image names"
Are not rendered as images in html.

the generated markdown does not consider the `![](img path with spaces.png)` as an image. First encountered with a Rmd tag `{r mde_summary_plot, eval=TRUE}`

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-11-07 17:25] ethen8181 opened #349 "Feedback"
Hi team,

Thanks for taking the time to create this! I've been trying to adapt some analysis to Knowledge Repo (KR) and found some missing features/issues to it:

1. Is it possible to change the font size of the text by clicking at some buttons inside a post?
2. The aesthetic for the code chunk and its output looks pretty similar, can this be modified? (In juyter notebook code chunk has a grey bac

[2017-11-08 04:05] ericchang00 commented on #347
I'm working this problem as well. If the ipython notebooks are checked into a repo, most of the metadata can be obtained from git and injected as a cell at the top of the notebook. Here is a working script: [knowledge_repo_converter.py](https://github.com/ericchang00/machine-learning/blob/airbnb-knowledge-repo/airbnb_knowledge_repo_setup/knowledge_repo_converter.py)

I'd be happy to build this out

[2017-11-09 14:29] danfrankj opened #350 "Slow image mapping"
url remapping for images takes a long time, causes server timeouts

[code]

Profile
[code]
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-11-13 21:15] bmabey opened #352 "allow cells to be hidden/toggleable with JS"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

It would be useful to hide code cells by default using tagged cells. The code could be toggled to be visible for people who want to see all the steps but hiding them by default makes the posts more palatable to other audiences outside of data science and engineering.

Something along these lines: https://github.com/mpacer/hidin

[2017-11-14 00:11] harrdb12 opened #354 "Can't login using GitHub OAuth"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hi there. I am unable to login to the web interface using GitHub's Oauth system, despite the fact that I believed I've configured everything correctly. To wit, on GitHub's end I've put both the Homepage and Callback URL for OAuth applications to <SERVER_NAME> added the Client ID and Client Secret to my config_defaults.py file,

[2017-11-14 05:49] matthewwardrop commented on #352
Hi @bmabey ,

Thanks for the suggestion! We do currently offer hiding of cells in Jupyter notebook by adding the "skip" (slideshow) metadata to a cell; but this just simply removes it from the output entirely. It may make sense to make it make the code "hidden by default", as you have suggested instead. I'm not sure how this would work for R, but we can definitely look into this at some point.

Pa

[2017-11-14 05:52] bmabey commented on #352
Thanks for the tip! I think being able to toggle it would be useful and will consider doing a patch for that in the future. For now the current functionality is probably good enough for now.

[2017-11-14 05:57] matthewwardrop commented on #354
Hi @harrdb12 ,

It sounds like you have things set up correctly, so the only thing that I can see possibly going wrong is the value of the `SERVER_NAME` config variable.

If `SERVER_NAME` is specified, flask will not serve any content via any other server name. So if you specify it to be '127.0.0.1', then accessing the server via 'localhost' will not work (nor would '127.0.0.2', etc), even if tech

[2017-11-14 14:05] harrdb12 commented on #354
Hi @matthewwardrop , I will try to include more details.

For the `SERVER_NAME` I have tried using both the hostname and the IP address (and of course leaving the variable to `None`). In all cases the port I'm using is 8080, so that explicitly e.g. `SERVER_NAME = T1H6AY5Y2OV:8080` or `SERVER_NAME = 24.27.290.68:8080`. In both cases, I am able to access the web server, so I don't believe `SERVER_NA

[2017-11-14 19:06] harrdb12 commented on #354
Came across something surprising to me as I was testing deploying the server on my local machine... apparently the only way I can log in with `SERVER_NAME` set is if it is set to `localhost` and any port number. Some results form my tests:

`0.0.0.0` : No connection can be made here.

`127.0.0.1`: Connections can be made here, but it is not possible to log in with `SERVER_NAME` set.

`TEDRYZOMZWQZ

[2017-11-15 10:49] amarchin commented on #136
Any news about Docker? :)

[2017-11-15 16:10] analyticalmonk commented on #309
@matthewwardrop Are you guys planning to open source the Rstudio plugin you have mentioned?

[2017-11-16 18:57] cather1ne opened #355 "Default .knowledge_repo_config file requires update"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hey there, thanks so much for this project, it's really helpful! I have been trying to understand how to use the `.knowledge_repo_config` file to configure the `username_to_name` function. I just came across this pull request https://github.com/airbnb/knowledge-repo/pull/305 that seems to remove the `username_to_name` functiona

[2017-11-17 10:30] Paulescu opened #356 "How to generate a knowledge post from several query/code files?"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj
Hello guys,
It is not clear to me from the documentation how can I generate a nicely formatted Knowledge post from a set of SQL queries/python script files.
Let's say the output of my work are 2 files (script.py, query.sql) and I want to generate a knowledge_post.md file. How does one do this?

[2017-11-17 19:57] harrdb12 commented on #354
Hi @matthewwardrop . I've figured out the issue and am now able to login via GitHub successfully, so you can close this issue. Here are some of the things I've found; I mostly modified the oauth2.py file:

- As mentioned, I needed to change the base_url. I found that it's necessary to end the url with '/' due to the way urljoin works.
- I edited `response_dict` (line 149 in my file) by adding deco

[2017-11-17 19:57] #354 closed

[2017-11-18 05:38] matthewwardrop commented on #354
@harrdb12 Great news! Sorry for the delay... I'm on paternity leave, and the kids don't leave much time to dig into this (and when I have time, I'm usually knackered!). Glad you got things sorted out, and thanks for the detailed write-up!

[2017-11-21 16:23] jordan-wright opened #357 "Remove Seemingly Redundant "git fetch" Operations"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

I could be wrong (in which case, please don't hesitate to close this out), but it seems that some knowledge repo updates may be unnecessary. For example, running `knowledge_repo create`, `knowledge_repo preview`, and others may not require a full update to complete successfully.

It's not a huge deal, but if we have git hooked

[2017-11-24 00:38] dbose opened #358 "ipynb file with R kernel"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Having difficulty in adding a ipynb (R-kernel) file to the KP. The postprocessor fails at

Even though I have following header

[code]

[2017-11-30 13:40] alexhallam opened #359 "Probably just a path issue"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Thanks for this great tool. I went to set it up today and had the following error when running

`knowledge_repo --repo ./example_repo add example_post.Rmd -p project/example_rmd`

Error:

[code]

I am guessing this is just an  `R` path issue. If I am pointed in the right direction, via a link or reference on this error that wou

[2017-11-30 14:25] danfrankj commented on #359
Hi @alexhallam and thanks for your interest in the knowledge repo.

This seems like the same problem as in  https://github.com/airbnb/knowledge-repo/issues/46 so let's bring the conversation over there. There's more in depth explanation of the problem and some potential solutions linked in that issue. Please comment there if you're still not able to get around this!

[2017-11-30 14:25] #359 closed

[2017-12-08 10:49] shashj199 opened #361 "Duplication of running computationally heavy code on every commit"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Hey,

One of the very cool features of knowledge repo is that it checks each piece of code on every commit and shows the original output. But this feature sometimes slows things down. If a computationally heavy code is run every time, then it results in a lot of time being wasted in committing. Can we tag a code with time used

[2017-12-12 21:00] medewitt opened #362 "cannot find path specified on windows 10"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Somewhat embarrassing, but I'm at my wits end.  I'm on a windows 10 machine with Python3 and the install of the knowledge repo went well until I tried to initialize it. Windows isn't my normal workflow...

[C:\Users\dewittme>knowledge_repo --repo ./example_repo init
](url)

Error:
[The system cannot find the path specified.
](u

[2017-12-14 23:44] danfrankj opened #363 "Broken Sorting in Table View"
![image](https://user-images.githubusercontent.com/616139/34019844-a2606bc8-e0e5-11e7-8a6e-adcfa202122b.png)

Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

[2017-12-16 13:47] analyticalmonk opened #364 "Command/Flag to remove a knowledge post"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

Currently, the only way to do that is to delete the posts from the repo directory. Correct me if I'm wrong.
A command line flag (similar to update) to delete knowledge posts will come in handy.

[2017-12-18 06:16] shashj199 commented on #354
@harrdb12 @matthewwardrop I am facing similar issues as you. I am hosting the knowledge repo on my local machine. I am trying to use Google authentication. Apart from the config_defaults.py, do I need to change anything else in the code to make the authentication work? I am directly getting the feed without login.

Thanks

[2017-12-18 12:26] shashj199 commented on #358
@dbose Remove the quotes from Scroll depth analysis. It should work

---
title: Scroll depth analysis
authors:
- dbose
tags:
- ab_tests
- experiments
created_at: 2017-11-20
updated_at: 2017-11-20
tldr: Test
---

[2017-12-18 15:47] shansfolder commented on #83
@matthewwardrop I am also interested in the possibility of db-based repo. Any updates on the documentations ? e.g. the submission process as mentioned by @sryza before. Many thanks!

[2017-12-18 16:08] harrdb12 commented on #354
@shashj199 Perhaps try editing your hosts file; IIRC google authentication requires that you use a valid website URL,so you may have to e.g. rename localhost so that it is a valid website; there is an example on StackedOverflow of how to do this. Apart from that, I'm not really sure; you really shouldn't need to edit any more on KnowledgeRepo's end; are you sure you have things configured correctl

[2017-12-18 16:35] shashj199 commented on #354
@harrdb12 This is the config file I am using.

[code]

I am passing this file while deploying knowledge repo as
[code]

My doubt is that knowledge repo is not even executing login code since I am able to access the feed anyway. Let me know what I am doing wrong.

Thanks

[2017-12-18 16:47] shansfolder opened #365 "Improve documentation around API"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

To whom it may concern,

thank you for releasing this as open source project, it is just great!

I have a question (instead of an issue):
Is there any support for machine readability? e.g. I want to use command line or programming language to get the posts with tag "data" and integrate such code snippet into a codebase, is it p

[2017-12-18 19:03] matthewwardrop commented on #365
Hi @shansfolder ,

Thanks for getting in touch :). The `knowledge_repo` API was specifically designed to be machine-readable, and provides the basis for the web app. While all actual indexing occurs on the web app side, you can easily iterate over all posts using the API, and create your own index.

It would look something like this:
[code]

I'll leave this open to remind us to improve documentati

[2017-12-18 19:07] matthewwardrop commented on #364
Thanks for the feature request! This sounds like a more than reasonable feature addition. Hitherto this was not implemented to avoid the risk of people accidentally deleting others' posts... but (most of) the backends we support would allow for undoing these actions, so I think this should be fairly safe.

[2017-12-18 19:09] matthewwardrop commented on #362
Hi @medewitt ,

Apologies for the long lead time here. I'm on paternity leave, and the kids are keeping me quite busy!

Have you tried using the Windows standard separator for the path?
`knowledge_repo --repo .\example_repo init`

If so, get back to me and I'll see if I can debug it on my Windows machine.

[2017-12-18 19:12] matthewwardrop commented on #361
Hi @shashj199 ,

I presume you are talking the knowledge repo in the context of Rmd files here? If so, the issue here is that I'm not sure that R supports saving output of code cells between runs in a way that can be shared between all formats (including markdown, the format we use). If you know of a way to make it work, we'd love to add this feature. [In the Jupyter notebook world, cell output is

[2017-12-18 22:13] harrdb12 commented on #354
@shashj199

You can access the feed regardless of whether or not you're logged in; logging in simply allows you to write webposts, subscribe to tags, etc. So that's not a good metric to figuring out what's wrong.

First, I would try to get the 'Debug' authorization working. If you're trying to use 'Google' authorization, AFAIK, you need to also set that up on Google's end, which it doesn't appear

[2017-12-18 23:28] matthewwardrop commented on #354
@harrdb12 Thanks so much for taking lead on this. I've been out of action on paternity leave, and will be for a bit yet. I really appreciate your heling @shashj199 out. In case it's not obvious, everything you have shared is right on the mark.

I'll just point out that you *can* secure the feed page also, by modifying the policy config options:
[code]

[2017-12-19 11:19] shansfolder commented on #365
Hi @matthewwardrop thanks for the reply.

I've just played around, it seems that ```repo = KnowledgeRepository.for_uri('<repo uri>')``` only works if I pass a local directory to ```<repo uri>```. It returns error either for ```https://<uri for the github repo>``` or ```git://<uri for the git address>```.

[2017-12-19 18:35] jordan-wright opened #366 "Add Login Message in "Insufficient Permissions" Handler"
Auto-reviewers: @NiharikaRay @matthewwardrop @earthmancash @danfrankj

When we distribute knowledge repo links to the team, if the team member isn't logged in, they are presented with the vague [flash message](https://github.com/airbnb/knowledge-repo/blob/72c6449e172a9a7bd4ed2337c3b2afa24c5cfc24/knowledge_repo/app/app.py#L133)

We then have to explain how they need to login using the dropdown at t

[2017-12-20 13:45] mkolarek commented on #354
@harrdb12 thank you so much for the detailed write up, I'm also trying to deploy the knowledge-repo (latest clone from master) with github enterprise authentication. I'm not sure if I have everything set up properly though, could you maybe share the details of your configuration?
And what did you set up as the 'Authorization callback URL' in the developer applications setup in github?